<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>MyMedicord</title>
<!-- Favicon-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
<!-- Custom Css -->
<link href="/assets/css/main.css" rel="stylesheet">
<link href="/assets/css/login.css" rel="stylesheet">

<!-- Swift Themes. You can choose a theme from css/themes instead of get all themes -->
<link href="assets/css/themes/all-themes.css" rel="stylesheet" />
</head>
<body class="login-page authentication">

<div class="container">
    <div class="card-top"></div>
    <div class="card">
        <h1 class="title"><a href="/" style="text-decoration: none;"><span>MyMedicord</span></a>Register <span class="msg">Register a new membership</span></h1>
        {% raw %}
        <div class="col-md-12" id="app">
            <form class="col-xs-12" role="form" @submit.prevent="validateBeforeSubmit">            
            <div class="input-group" :class="{'has-error': errors.has('name') }">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-account"></i>
                </span>
                <div class="form-line">
                    <input type="text" class="form-control" v-model="name" v-validate="'required|min:3'" name="name" placeholder="Name" autofocus>
                </div>
                <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>
            </div>
            <div class="input-group" :class="{'has-error': errors.has('email') }">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-email"></i>
                </span>
                <div class="form-line">
                    <input type="email" v-model="email" v-validate="'required|email'" class="form-control" name="email" placeholder="Email Address" >
                </div>
                <p class="text-danger" v-if="errors.has('email')">{{ errors.first('email') }}</p>
            </div>
            <div class="input-group" :class="{'has-error': errors.has('username') }">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-lock"></i>
                </span>
                <div class="form-line">
                    <input type="text" class="form-control" v-model="username" v-validate="'required|min:5'" name="username" placeholder="Username">
                </div>
                <p class="text-danger" v-if="errors.has('username')">{{ errors.first('username') }}</p>
            </div>
            <div class="input-group" :class="{'has-error': errors.has('password') }">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-lock"></i>
                </span>
                <div class="form-line">
                    <input type="password" v-model="password" v-validate="'required|min:4'" class="form-control" name="password" placeholder="Password">
                </div>
                <p class="text-danger" v-if="errors.has('password')">{{ errors.first('password') }}</p>
            </div>
            <div class="input-group" :class="{'has-error': errors.has('confirm') }">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-lock"></i>
                </span>
                <div class="form-line">
                    <input type="password" v-validate="'required|confirmed:password'" data-vv-as="password" class="form-control" name="confirm" placeholder="Confirm Password">
                </div>
                <p class="text-danger" v-if="errors.has('confirm')">{{ errors.first('confirm') }}</p>
            </div>
            <div class="form-group">
                <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                <label for="terms">I read and agree to the <a href="javascript:void(0);">terms of usage</a>.</label>
            </div>
            <div class="text-center">
                <button class="btn btn-raised g-bg-cyan waves-effect">SIGN UP</button>
            </div>
            <div class="m-t-10 m-b--5 align-center">
                <a href="/login">You already have a membership?</a>
            </div>
            <div id="alert_container">
            </div>
        </form>
    </div>
    {% endraw %}
    </div>  
</div>
<div class="theme-bg"></div>

<script src="/assets/bundles/libscripts.bundle.js"></script>
<script src="/assets/bundles/vendorscripts.bundle.js"></script>
<script src="/assets/bundles/mainscripts.bundle.js"></script>

<script src="/assets/static/js/vue.min.js"></script>
<script src="/assets/static/js/vee-validate.js"></script>
<script src="/assets/static/js/axios.min.js"></script>
<script>
    Vue.use(VeeValidate);
    var app2 = new Vue({
        el: '#app',
        data: {
            name: '',
            email: '',
            username: '',
            password:''
        },
        methods: {
            validateBeforeSubmit:function(e) {
                this.$validator.validateAll();
                if (!this.errors.any()) {
                    this.submitForm()
                }
                console.log(this.errors);
            },
            makeAlert:function(msg,type){
                $("#alert_container").html('<div class="alert alert-'+type+'">'+msg+'</div>');
            },
            submitForm:function(){
                var self=this;
                axios({
                    method: 'post',
                    url: '/api/users',
                    data: {
                        name: this.name,
                        email: this.email,
                        username: this.username,
                        password: this.password
                    }
                }).then(function(response){
                    if(response.status==201)
                        self.makeAlert("Registration Successful",'success');
                    else
                        self.makeAlert("Whoops, looks like server is not working",'danger');
                    console.log(response);
                }).catch(function(error){
                    if(error.response.status==422){
                        if(error.response.data.errors){
                            for(var key in error.response.data.errors)
                                self.makeAlert(error.response.data.errors[key].message,'danger');
                        }else
                            self.makeAlert(error.response.data.message,'danger');
                    }else
                        self.makeAlert("Whoops, looks like server is not working",'danger');
                    console.log(error.response);
                });
            }
        }
    });
</script>
</body>
</html>