<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Express Starter</title>
    <link rel="shortcut icon" href="/assets/static/img/favicon.ico">
    <link href="/assets/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/static/css/join.css" rel="stylesheet">
    <link href="/assets/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
</head>
<body>
    <div class="container">
        <div id="fullscreen_bg" class="fullscreen_bg" >
        <div class="form-signin">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form method="post" action="login{{nextUrl}}">
                                    <h3 class="text-center"> SIGN IN</h3>
                                    {% set flash = request.flash('warning') %}
                                    {% if flash.length %}
                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>{{ flash }}</strong>.
                                    </div>
                                    {% endif %}
                                    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                            </span>
                                            <input name="username" type="text" class="form-control" placeholder="Username" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                            <input name="password" type="password" class="form-control" placeholder="Password" />
                                        </div>
                                    </div>

                                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                                        Sign In
                                    </button>
                                    <a href="/resend_verify" class="btn btn-link">Resend Verification</a>
                                    <a href="/forgot" class="btn btn-link">Forgot Password</a>
                                    <a href="/join" class="btn btn-link">Register</a>
                                    <a href="/" class="btn btn-link">Back</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>