<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="token" content="{{token}}">
<title>MyMedicord</title>
<!-- Favicon-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- Custom Css -->
<link href="/assets/css/main.css" rel="stylesheet">
<link href="/assets/css/login.css" rel="stylesheet">

<!-- Swift Themes. You can choose a theme from css/themes instead of get all themes -->
<link href="/assets/css/themes/all-themes.css" rel="stylesheet" />
</head>

<body class="login-page authentication">
<div class="container">
    <div class="card-top"></div>
    <div class="card">
        <h1 class="title"><a href="/" style="text-decoration: none;"><span>MyMedicord</span></a>Reset Password <div class="msg">Enter your new password.</div></h1>
        {% raw %}
        <div class="col-md-12" id="app">
            <form id="reset_form" method="POST" action="reset?token={{token}}" @submit.prevent="validateBeforeSubmit">
                <div class="input-group" :class="{'has-error': errors.has('password') }">
                    <span class="input-group-addon"> <i class="zmdi zmdi-lock"></i> </span>
                    <div class="form-line">
                        <input type="password" v-model="password" v-validate="'required|min:4'" class="form-control" name="password" placeholder="New Password" autofocus>
                    </div>
                    <p class="text-danger" v-if="errors.has('password')">{{ errors.first('password') }}</p>
                </div>
                <div class="input-group" :class="{'has-error': errors.has('confirm') }">
                    <span class="input-group-addon"> <i class="zmdi zmdi-lock"></i> </span>
                    <div class="form-line">
                        <input type="password" v-validate="'required|confirmed:password'" data-vv-as="password" class="form-control" name="confirm" placeholder="Confirm Password">
                    </div>
                    <p class="text-danger" v-if="errors.has('confirm')">{{ errors.first('confirm') }}</p>
                </div>
                <div class="row">                    
                    <div class="col-xs-12 text-center">
                        <button type="submit" class="btn btn-raised waves-effect g-bg-cyan">RESET</button>
                    </div>
                    <div class="col-xs-12 text-center"> <a href="/login">Sign In!</a> </div>
                </div>
            </form>
        </div>
        {% endraw %}
    </div>    
</div>

<div class="theme-bg"></div>
<!-- Jquery Core Js --> 
<script src="assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 
<script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 
<script src="assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js --> 
<script src="/assets/static/js/vue.min.js"></script>
<script src="/assets/static/js/vee-validate.js"></script>
<script>
    Vue.use(VeeValidate);
    var app2 = new Vue({
        el: '#app',
        data: {
            password:''
        },
        methods: {
            validateBeforeSubmit:function(e) {
                this.$validator.validateAll();
                if (!this.errors.any()){
                    $("#reset_form").attr("action","/reset?token="+$("meta[name=token]").attr('content')).submit();
                }
            }
        }
    });
</script>
</body>
</html>