<html>
    <head>
        <title>App Name</title>
    </head>
    <body>
        <h1>Give your health feedback for:</h1>
        {% for patient in patients %}
        <p>
            <a href="{{base_url}}/feedback/{{ patient.id }}">{{patient.name}}</a>
        </p>
        {% endfor %}
    </body>
</html>