{% extends "layout/master.html" %}

{% block title %}
Account Settings
{% endblock %}

{% block css %}
<link href="/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<link href="/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
<link href="/assets/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<style>
.hidden{
    display: none !important;
}
.short_height_form .form-group{
    margin-top: 8px;
}
.short_height_form .form-control{
    height: 17px;
}
.profile-pic {
    /*border-radius: 50%;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;*/
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
}
.profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}
.profile-pic span {
    display: inline-block;
    font-weight: bold;
}
.max-width{
    max-width: 100%;
}
.img-container{
    height: 100%;
}
.img-container img {
    max-width: 100%;
}
</style>
<style>
.modal {
    text-align: center;
    padding: 0!important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-top: 0px !important; 
}
.mt7{
    margin-top: 7px;
}
</style>
<link  href="/assets/static/css/cropper.min.css" rel="stylesheet">
{% endblock %}

{% block content_header %}
<h2>Account Settings</h2>
<small class="text-muted">Welcome to MyMedicord</small>
{% endblock %}

{% block bodyclass %}profile-page{% endblock %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-12" id="alert_container">
        {{alerts()}}
    </div>
</div>
{% raw %}
<div class="row clearfix" id="acc_app">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class=" card patient-profile">
            <input type="file" id="avatar_file" class="sr-only" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
            <a href="#" data-backdrop="static" data-toggle="modal" data-target="#profile_picture_uploader" class="profile-pic">
                <img id="account_avatar" src="/assets/images/image-1.jpg" class="img-responsive" alt="" style="margin:0px auto;">
                <div style="position: absolute;top: 50%;width: 100%;">
                    <i class="material-icons">camera_alt</i> <span>Change Image</span>
                </div>
            </a>
        </div>
        <div class="card">
            <div class="header">
                <h2 class="">
                    Basic Information
                    <a href="javascript:void(0);" @click="edit_user_info" class="edit pull-right"><i :class="{'text-success':user_info_edit_mode}" class="zmdi zmdi-edit"></i></a>
                </h2>
            </div>
            <div class="body" :class="{'hidden':user_fetching}">
                <div id="user_info_ne" :class="{'hidden':user_info_edit_mode}">
                    <strong>Name</strong>
                    <p>{{user.name}}</p>
                    <strong>Email</strong>
                    <p>{{user.email}}</p>
                    <strong>Date of Birth</strong>
                    <p>{{user.info.dob | date }}</p>
                    <strong>Gender</strong>
                    <p>{{user.info.gender}}</p>
                    <hr>
                    <strong>Address</strong>
                    <address>{{user.info.location}}</address>
                </div>
                <div id="user_info_form" :class="{'hidden':!user_info_edit_mode}" class="short_height_form">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Name</strong>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" v-model="user.name" class="form-control" placeholder="Enter Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <strong>Email</strong>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" disabled :value="user.email" class="form-control" placeholder="Enter Email">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <strong>Phone</strong>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" v-model="user.info.phone" class="form-control" placeholder="Enter Phone">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <strong>Date of Birth</strong>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="dob" class="datepicker form-control" placeholder="Enter Date of Birth">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <strong>Gender</strong>
                            <div class="form-group">
                                <div class="form-line">
                                    <select v-model="user.info.gender" >
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-12">
                            <strong>Country</strong>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" v-model="user.info.country" class="form-control" placeholder="Enter Country">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <strong>State</strong>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" v-model="user.info.state" class="form-control" placeholder="Enter State">
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-12">
                            <strong>Location</strong>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" :value="user.info.location" id="location" class="form-control" placeholder="Enter Location">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <strong>Address</strong>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" v-model="user.info.address" class="form-control" placeholder="Enter Address">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <strong>Pin/Zip Code</strong>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" v-model="user.info.zip_code" class="form-control" placeholder="Enter Pin/Zip Code">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <strong>Emergency Contact</strong>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" v-model="user.info.emergency_contact" class="form-control" placeholder="Enter Emergency Contact">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <strong>Passport Number</strong>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" v-model="user.info.passport" class="form-control" placeholder="Enter Passport Number">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <strong>National ID</strong>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" v-model="user.info.national_id" class="form-control" placeholder="Enter National ID">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <strong>Insurance Policy Number</strong>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" v-model="user.info.insurance_policy_no" class="form-control" placeholder="Enter Insurance Policy Number">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <strong>Policy Provider</strong>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" v-model="user.info.policy_provider" class="form-control" placeholder="Enter Policy Provider">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <strong>Policy Validity</strong>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="policy_validity_from" class="datepicker form-control" placeholder="From">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="policy_validity_to" class="datepicker form-control" placeholder="To">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div v-if="saving.basic" class="preloader pl-size-xs">
                                <div class="spinner-layer pl-red-grey">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                            <button v-else @click="save_user_basic" type="button" class="btn btn-raised btn-primary waves-effect">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <div class="card">
            <div class="body"> 
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a href="patient-profile.html#privacyoptions" data-toggle="tab" aria-expanded="true">Privacy Options</a></li>
                    <li role="presentation"><a href="patient-profile.html#changepassword" data-toggle="tab" aria-expanded="true">Change Password</a></li>
                    <li role="presentation"><a href="patient-profile.html#emailnotification" data-toggle="tab" aria-expanded="true">Email Notification</a></li>
                </ul>
                
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="privacyoptions">
                        <h4>Change Your Privacy Settings Option.</h4>
                        <p>You can choose what you share on Data Analytics using your profile settings. You can pick how your information is displayed, as well as what information people can see. For example, you can let everyone see the "Medicine Details" section of your profile, but no-one would be able to see your "Basic Information".</p>
                        <div v-if="!user_fetching">
                            <p>
                                Basic Information
                                <div class="switch">
                                    <label>
                                        <input type="checkbox" v-model="user.settings.privacy.basic">
                                        <span class="lever"></span></label>
                                </div>
                            </p>
                            <p>
                                Illness Detail
                                <div class="switch">
                                    <label>
                                        <input type="checkbox" v-model="user.settings.privacy.illness">
                                        <span class="lever"></span></label>
                                </div>
                            </p>
                            <p>
                                Symptoms
                                <div class="switch">
                                    <label>
                                        <input type="checkbox" v-model="user.settings.privacy.symptom">
                                        <span class="lever"></span></label>
                                </div>
                            </p>
                            <p>
                                Medicine Details
                                <div class="switch">
                                    <label>
                                        <input type="checkbox" v-model="user.settings.privacy.medicine">
                                        <span class="lever"></span></label>
                                </div>
                            </p>
                        </div>
                        <h5>What does "myMedicord" do with Your information?</h5>
                        <p>Note that although you may not select to share your information, we may still include your specific information, Anonymously in Data Analytics Reports. Review our Tearms & Condition and how we handle your personal information.</p>
                        <div>
                            <div v-if="saving.privacy" class="preloader pl-size-xs">
                                <div class="spinner-layer pl-red-grey">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                            <button v-else type="button" @click="save_privacy" class="btn btn-raised btn-primary waves-effect">Save Privacy Settings</button>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="changepassword">
                        <div class="row clearfix">
                            <h2 v-if="demo" class="text-danger text-center">Sorry, not for demo user</h2>
                            <form action="" role="form" v-if="!demo" @submit.prevent="validate_password">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="password" v-model="security.password" class="form-control" placeholder="Current Password">
                                    </div>
                                    <p class="text-danger" v-if="error.password">Incorrect Password</p>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="password" name="newpassword" v-validate="'required|min:4'" v-model="security.newpassword" class="form-control" placeholder="New Password">
                                    </div>
                                    <p class="text-danger" v-if="errors.has('newpassword')">{{ errors.first('newpassword') }}</p>
                                </div>
                                <div class="form-group has-error">
                                    <div class="form-line">
                                        <input type="password" v-model="security.repassword" name="repassword" v-validate="'required|confirmed:newpassword'" data-vv-as="newpassword" class="form-control" placeholder="Retype New Password">
                                    </div>
                                    <p class="text-danger" v-if="errors.has('repassword')">{{ errors.first('repassword') }}</p>
                                </div>
                                <button type="submit" class="btn btn-raised btn-success btn-sm">Save Password</button>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="emailnotification">
                        <p>Manage Your Email Notification Option.</p>
                        <div class="row clearfix" v-if="!user_fetching">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Notification</th>
                                            <th>Interval</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in patients">
                                            <td style="line-height:36px;">{{item.name}}</td>
                                            <td><input type="email" class="form-control" :value="item.email"></td>
                                            <td>
                                                <div class="switch mt7">
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <span class="lever"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td><input type="number" class="form-control" value="1"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <div v-if="saving.notification" class="preloader pl-size-xs">
                                    <div class="spinner-layer pl-red-grey">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                                <button v-else type="button" @click="save_notification" class="btn btn-raised btn-primary waves-effect">Save Notification Settings</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endraw %}
{% endblock %}

{% block modals %}
<div class="modal fade" id="profile_picture_uploader" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Upload Image</h4>
            </div>
            <div class="modal-body" id="container-body">
                <div class="img-container">
                    <img class="max-width" id="profile_picture_image" src="/assets/images/image-1.jpg">
                </div>
            </div>
            <div class="modal-footer">
                    <button type="button" id="browseImage" class="btn btn-primary waves-effect">Browse</button>
                <button type="button" id="uploadImage" class="btn btn-primary waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js --> 
<script src="/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script> 
<script src="/assets/plugins/select2/js/select2.min.js"></script>
<script src="/assets/static/js/cropper.min.js"></script>
<script>
$(function(){
    $('.datepicker').bootstrapMaterialDatePicker({
        format: 'dddd DD MMMM YYYY',
        clearButton: true,
        weekStart: 1,
        time: false
    });
})
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe1exctmeJjIb4guyT6newSpyJ7kA3aLc&libraries=places"></script>
<script src="/assets/static/js/vue.js"></script>
<script src="/assets/static/js/vee-validate.js"></script>
<script src="/assets/pages/account_settings.js"></script>
<script>
    var cropBoxData;
    var canvasData;
    var cropper;
    var image=document.getElementById('profile_picture_image')
    var filename;
    function setModalMaxHeight(element) {
        this.$element     = $(element);  
        this.$content     = this.$element.find('.modal-content');
        var borderWidth   = this.$content.outerHeight() - this.$content.innerHeight();
        var dialogMargin  = $(window).width() < 768 ? 20 : 60;
        var contentHeight = $(window).height() - (dialogMargin + borderWidth);
        var headerHeight  = this.$element.find('.modal-header').outerHeight() || 0;
        var footerHeight  = this.$element.find('.modal-footer').outerHeight() || 0;
        var maxHeight     = contentHeight - (headerHeight + footerHeight);

        this.$content.css({
            'overflow': 'hidden'
        });
        
        this.$element.find('.modal-body').css({
            'max-height': maxHeight,
            'height': maxHeight,
            'overflow-y': 'auto'
        });
    }
    function initCrop(image){
        cropper = new Cropper(image, {
            aspectRatio: 1,
            //minContainerHeight:height,
            /*crop: function(event) {
                console.log(event.detail.x);
                console.log(event.detail.y);
                console.log(event.detail.width);
                console.log(event.detail.height);
                console.log(event.detail.rotate);
                console.log(event.detail.scaleX);
                console.log(event.detail.scaleY);
            },*/
            ready: function () {
                // Strict mode: set crop box data first
                cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
            }
        });
    }
    function destroyCrop(){
        cropBoxData = cropper.getCropBoxData();
        canvasData = cropper.getCanvasData();
        cropper.destroy();
    }
    $("#browseImage").click(function(){
        $('#avatar_file').trigger('click');
    })
    $('.modal').on('show.bs.modal', function() {
        $("#profile_picture_image")[0].src=$("#account_avatar")[0].src
        $(this).show();
        setModalMaxHeight(this);
        initCrop(image);
        setTimeout(function(){
            $('#avatar_file').trigger('click');
        },100);
    })
    .on('hidden.bs.modal',function(){
        destroyCrop()
    });
    $("#avatar_file").on('change',function(e){
        var files=e.target.files
        var done = function (url) {
          //input.value = '';
          image.src = url;
          //$alert.hide();
          //$modal.modal('show');
          cropper.destroy();
          initCrop(image);
        };
        var reader;
        var file;
        var url;
        if (files && files.length > 0) {
            file = files[0];
            filename=file.name;
            if (URL) {
                done(URL.createObjectURL(file));
            } else if (FileReader) {
                reader = new FileReader();
                reader.onload = function (e) {
                    done(reader.result);
                };
                reader.readAsDataURL(file);
            }
        }else{
            //
        }
    })

    $(window).resize(function() {
        if ($('.modal.in').length != 0) {
            setModalMaxHeight($('.modal.in'));
        }
    });
    $("#uploadImage").click(function(){
            var avatar=document.getElementById('account_avatar');
            var initialAvatarURL;
            var canvas;
            canvas = cropper.getCroppedCanvas({
                width: 312,
                height: 208,
            });
            initialAvatarURL = avatar.src;
            avatar.src = canvas.toDataURL();
            canvas.toBlob(function (blob) {
                var formData = new FormData();
                formData.append('file', blob);
                if(filename)
                    formData.append('filename',filename);
                $.ajax('/api/profile/photo', {
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    /*xhr: function () {
                        var xhr = new XMLHttpRequest();
                        xhr.upload.onprogress = function (e) {
                        var percent = '0';
                        var percentage = '0%';
                        if (e.lengthComputable) {
                            percent = Math.round((e.loaded / e.total) * 100);
                            percentage = percent + '%';
                            $progressBar.width(percentage).attr('aria-valuenow', percent).text(percentage);
                        }
                        };
                        return xhr;
                    },*/
                    success: function (data) {
                        //$alert.show().addClass('alert-success').text('Upload success');
                        console.log(data);
                        $('#profile_picture_uploader').modal('hide');
                    },
                    error: function () {
                        avatar.src = initialAvatarURL;
                        //$alert.show().addClass('alert-warning').text('Upload error');
                    },
                    complete: function () {
                        //$progress.hide();
                    },
                });
            })
        })
</script>
{% endblock %}