{% extends "layout/master.html" %}
{% block title %}
Create healthcase
{% endblock %}

{% block css %}
<link href="/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<link href="/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
<link href="/assets/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<style>
    .hidden{
        display: none;
    }
    .m0{
        margin: 0px;
    }
    .list-group-item{
        padding: 4px 15px;
    }
    .pl0{
        padding-left: 0px;
    }
    .pr0{
        padding-right: 0px;
    }
    .card .header{
        border: none;
    }
    .card .header h2 small{
        color: #4c4b4b;
    }
    .select2, .select2-container .select2-search__field{
        width: 100% !important;
    }
    .patient-card{
        cursor: pointer;
    }
    .patient-card.card-selected{
        border: 2px solid #03A9F4;
        border-radius: 5px;
        background:  #b2ebf2;
    }
    .table2>.tablerow:not(:first-child){
        margin-top: 5px;
    }
    .table2>.tablerow:not(:last-child){
        border-bottom: 1px solid rgba(204,204,204,0.8);
    }
    .notop{
        top: 0px !important;
    }
    .mb0-pt0{
        margin-bottom: 0;
        padding-top: 0;
    }
</style>
{% endblock %}

{% block content_header %}
<h2>Create New Healthcase</h2>
<small class="text-muted">Welcome to MyMedicord</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12" id="alert_container">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body" id="app">
                        {% raw %}
                        <div id="step1" :class="{hidden: (currentStep!=0) }">
                            <div class="header m0">
                                <h2>Step 1<small>Healthcase Description</small></h2>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <!-- <input type="text"  id="start_date" class="datepicker form-control" placeholder="Start Date"> -->
                                            <k-datetimepicker :max-date="future" name="start_date" placeholder="Healthcase Start Date" class="form-control" v-model="healthcase.startDate"></k-datetimepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <!-- <input type="text" id="end_date" class="datepicker form-control" placeholder="End Date"> -->
                                            <k-datetimepicker :min-date="healthcase.startDate" :max-date="future" placeholder="Healthcase End Date(Optional)" class="form-control" v-model="healthcase.endDate"></k-datetimepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" v-model="healthcase.name" class="form-control" placeholder="Memorable Name(If Any)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group drop-custum">
                                        <select v-model="healthcase.follow_up_id" class="form-control show-tick">
                                            <option value="">-- Follow Up of another Healthcase --</option>
                                            <option value="10">16 Sep 2016-25 Sep 2016 : Fever</option>
                                            <option value="20">15 Aug 2017-20 Aug 2017 : Headache</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="step2" :class="{hidden: (currentStep!=1) }">
                            <div class="header m0">
                                <h2>Step 2<small>Patient Selection</small></h2>
                            </div>
                            
                            <div class="row clearfix">
                                <div :class="{'hidden':!messages.patient.fetching}" class="preloader pl-size-xl">
                                    <div class="spinner-layer pl-teal">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix" v-for="patients1 in listPatients">
                                    <div class="col-md-12">
                                        <div :class="{'hidden':messages.patient.fetching}" v-for="item in patients1" class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="card all-patients patient-card" :class="{'card-selected':(healthcase.patient==item._id)}">
                                                <div class="body" @click="selectPatientCard(item._id)">
                                                    <div class="row">
                                                        <div class="col-md-4 col-sm-4 text-center m-b-0">
                                                            <!-- <a href="#" class="p-profile-pix"></a> -->
                                                            <img :src="item.info.photo?'/gallery/'+item.info.photo:'/assets/images/patients/random-avatar1.jpg'" alt="user" class="img-circle img-responsive">
                                                        </div>
                                                        <div class="col-md-8 col-sm-8 m-b-0">
                                                            <h5 class="m-b-0">{{item.name}}</h5> <small>{{item.relation}}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-offset-5 col-xs-offset-3">
                                    <button type="button" data-toggle="modal" data-target="#patientAppModal" class="btn btn-raised bg-green">New Patient</button>
                                </div>
                            </div>
                        </div>
                        <div id="step3" :class="{hidden: (currentStep!=2) }">
                            <div class="header m0">
                                <h2>Step 3<small>Doctor Selection</small></h2>
                            </div>
                            <div class="row clearfix">
                                <div :class="{'hidden':!messages.doctor.fetching}" class="preloader pl-size-xl">
                                    <div class="spinner-layer pl-teal">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix" v-for="doctors1 in listDoctors">
                                    <div class="col-md-12">
                                        <div :class="{'hidden':messages.doctor.fetching}" v-for="item in doctors1" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="card patient-card" :class="{'card-selected':(healthcase.doctor==item._id)}">
                                                <div class="body" @click="selectDoctorCard(item._id)" style="padding:0px;">
                                                    <div class="member-card verified">
                                                        <div class="">
                                                            <h5 class="m-b-5">{{item.name}}</h5>
                                                            <p class="text-muted">{{item.speciality}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-offset-5 col-xs-offset-3">
                                    <button type="button" data-toggle="modal" data-target="#doctorAppModal" class="btn btn-raised bg-green">New Doctor</button>
                                </div>
                            </div>
                        </div>
                        <div id="step4" :class="{hidden: (currentStep!=3) }">
                            <div class="header m0">
                                <h2>Step 4<small>Illness and Symptom Selection</small></h2>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group drop-custum">
                                        <select v-model="healthcase.illness_id" id="illness" class="form-control show-tick">
                                            <option value="">-- Mention Illness --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group drop-custum">
                                        <select class="form-control show-tick" id="symptom_select" multiple="multiple">
                                            <option value="">-- Select Symptoms --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="step5" :class="{hidden: (currentStep!=4) }">
                            <div class="header m0">
                                <h2>Step 5 (OPTIONAL)<small>Add Medicines</small></h2>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" v-model="medicine.name" class="form-control" placeholder="Medicine Name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header m0">
                                <h2>Medicine Instructions<small>Select appropriate instruction and click Add</small></h2>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-4 col-xs-6">
                                    <small>Doses</small>
                                    <div class="list-group" style="max-height: 200px;overflow: scroll;border: 0.5px solid #ddd;">
                                        <a @click="select_doses(index)" v-for="(item,index) in list_db.doses_data" href="javascript:void(0);" :class="{active:medicine.doses==index}" class="list-group-item">{{ item }}</a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <small>Unit</small>
                                    <div class="list-group" style="max-height: 200px;overflow: scroll;border: 0.5px solid #ddd;">
                                        <a @click="select_unit(index)" v-for="(item,index) in list_db.unit_data" href="javascript:void(0);" :class="{active:medicine.unit==index}" class="list-group-item">{{ item }}</a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <small>Route</small>
                                    <div class="list-group" style="max-height: 200px;overflow: scroll;border: 0.5px solid #ddd;">
                                        <a @click="select_route(index)" v-for="(item,index) in list_db.route_data" href="javascript:void(0);" :class="{active:medicine.route==index}" class="list-group-item">{{ item }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-4 col-xs-6">
                                    <small>Frequency</small>
                                    <div class="list-group" style="max-height: 200px;overflow: scroll;border: 0.5px solid #ddd;">
                                        <a @click="select_frequency(index)" v-for="(item,index) in list_db.frequency_data" href="javascript:void(0);" :class="{active:medicine.frequency==index}" class="list-group-item">{{ item }}</a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <small>Direction</small>
                                    <div class="list-group" style="max-height: 200px;overflow: scroll;border: 0.5px solid #ddd;">
                                        <a @click="select_direction(index)" v-for="(item,index) in list_db.direction_data" href="javascript:void(0);" :class="{active:medicine.direction==index}" class="list-group-item">{{ item }}</a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <small>Duration</small>
                                    <div class="list-group" style="max-height: 200px;overflow: scroll;border: 0.5px solid #ddd;">
                                        <a @click="select_duration(index)" v-for="(item,index) in list_db.duration_data" href="javascript:void(0);" :class="{active:medicine.duration==index}" class="list-group-item">{{ item }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-offset-5 col-xs-offset-3">
                                    <button @click="add_medicine" class="btn btn-raised btn-primary waves-effect" type="button">Add To List</button>
                                </div>
                                <div class="col-sm-12">
                                    <table class="table table-striped table-responsive">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>Name</th>
                                                <th>Doses</th>
                                                <th>Unit</th>
                                                <th>Route</th>
                                                <th>Frequency</th>
                                                <th>Direction</th>
                                                <th>Duration</th>
                                                <th>Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item,index) in healthcase.medicines">
                                                <td>{{index+1}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{list_db.doses_data[item.doses]}}</td>
                                                <td>{{list_db.unit_data[item.unit]}}</td>
                                                <td>{{list_db.route_data[item.route]}}</td>
                                                <td>{{list_db.frequency_data[item.frequency]}}</td>
                                                <td>{{list_db.direction_data[item.direction]}}</td>
                                                <td>{{list_db.duration_data[item.duration]}}</td>
                                                <td>
                                                    <button type="button" @click="remove_medicine(index)" class="btn btn-raised bg-deep-orange waves-effect btn-circle m0"> &nbsp;<i class="material-icons">delete_forever</i> </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="step6" :class="{hidden: (currentStep!=5) }">
                            <div class="header m0">
                                <h2>Step 6 (OPTIONAL)<small>Prescription Upload</small></h2>
                            </div>
                            <div class="row clearfix">
                                <input type="file" style="display:none;" id="pres_file" accept=".pdf">
                                <div class="col-md-12 tablerow" v-for="(item,index) in hc_files">
                                    <div class="col-md-10">
                                        <div class="col-md-6 col-sm-6">
                                            <k-datetimepicker placeholder="Select Date" class="form-control mb0-pt0" v-model="hc_files[index].date"></k-datetimepicker>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <input type="text" class="form-control" v-model="hc_files[index].report_type" placeholder="Report Type">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button @click="removeFile(index)" type="button" class="btn bg-pink btn-xs waves-effect"><i class="material-icons notop">clear</i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-offset-5 col-xs-offset-3">
                                    <button @click="addFile" type="button" class="btn bg-teal waves-effect">Add File</button>
                                </div>
                                <div class="col-md-12" >
                                    <div id="pres_upload_progress" class="progress" style="display:none; height:5px; margin-bottom: 5px;">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"> <span class="sr-only">60% Complete</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of steps -->
                        <div class="row clearfix">
                            <div class="col-xs-12">
                                <button type="button" v-if="currentStep>0" @click="prev" class="btn btn-raised g-bg-blue">Prev</button>
                                <button type="button" v-if="currentStep<maxStep" @click="next" class="btn btn-raised g-bg-blue pull-right">Next</button>
                                <button type="button" v-if="currentStep==maxStep"  @click="finish" class="btn btn-raised g-bg-cyan pull-right">Finish</button>
                            </div>
                        </div>
                        {% endraw %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block modals %}
<div class="modal fade" id="patientAppModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="patientApp">
            <div class="modal-header">
                <h4 class="modal-title">Add New Patient</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" v-model="patient.name" class="form-control" placeholder="Name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group drop-custum">
                            <select v-model="patient.info.gender" class="form-control show-tick">
                                <option value="">-- Select Gender --</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group drop-custum">
                            <select v-model="patient.relation" class="form-control show-tick">
                                <option value="">-- Choose Relation --</option>
                                <option value="Father">Father</option><option value="Mother">Mother</option><option value="Son">Son</option><option value="Daughter">Daughter</option><option value="Husband">Husband</option><option value="Wife">Wife</option><option value="Brother">Brother</option><option value="Sister">Sister</option><option value="Grandfather">Grandfather</option><option value="Grandmother">Grandmother</option><option value="Great grandfather">Great grandfather</option><option value="Great grandmother">Great grandmother</option><option value="Grandson">Grandson</option><option value="Granddaughter">Granddaughter</option><option value="Uncle">Uncle</option><option value="Aunt">Aunt</option><option value="Nephew">Nephew</option><option value="Niece">Niece</option><option value="Cousin">Cousin</option><option value="Stepfather">Stepfather</option><option value="Stepmother">Stepmother</option><option value="Stepbrother">Stepbrother</option><option value="Stepsister">Stepsister</option><option value="Stepson">Stepson</option><option value="Stepdaughter">Stepdaughter</option><option value="Father-in-law">Father-in-law</option><option value="Mother-in-law">Mother-in-law</option><option value="Brother-in-law">Brother-in-law</option><option value="Sister-in-law">Sister-in-law</option><option value="Son-in-law">Son-in-law</option><option value="Daughter-in-law">Daughter-in-law</option><option value="Friend">Friend</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" @click="savePatient" class="btn btn-link waves-effect">Add</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="doctorAppModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="doctorApp">
            <div class="modal-header">
                <h4 class="modal-title">Add New Doctor</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" v-model="doctor.name" class="form-control" placeholder="Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" v-model="doctor.speciality" class="form-control" placeholder="Speciality">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" @click="saveDoctor" class="btn btn-link waves-effect">Add</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/assets/plugins/autosize/autosize.js"></script> <!-- Autosize Plugin Js --> 
<script src="/assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js --> 
<script src="/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script> 
<script src="/assets/plugins/select2/js/select2.min.js"></script> 
<script src="/assets/js/pages/forms/basic-form-elements.js"></script>
<script src="/assets/static/js/vue.js"></script>
<script>window.eventHub = new Vue()</script>
<script src="/assets/pages/vue-bootstrap-material-datetimepicker.js"></script>
<script src="/assets/pages/create_hc.js"></script>
<script>
$(function(){
    $("#illness").selectpicker("destroy").select2({
        theme: "bootstrap",
        placeholder: "Mention Illness",
        tags: true,
        multiple:false,
        createTag: function (params) {
            return {
                id: params.term,
                text: params.term,
                newOption: true
            }
        },
        templateResult: function (data) {
            var $result = $("<span></span>");
            $result.text(data.text);
            if (data.newOption) {
                $result.append(' <i class="material-icons">fiber_new</i>');//<em>(new)</em>
            }
            return $result;
        },
        ajax: {
            url: '/api/illness',
            dataType: 'json',
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
        }
    });
    $("#symptom_select").selectpicker("destroy").select2({
        theme: "bootstrap",
        placeholder: "Select symptoms",
        allowClear: true,
        tags: true,
        createTag: function (params) {
            return {
                id: "__"+params.term,
                text: params.term,
                newOption: true
            }
        },
        templateResult: function (data) {
            var $result = $("<span></span>");
            $result.text(data.text);
            if (data.newOption) {
                $result.append(' <i class="material-icons">fiber_new</i>');//<em>(new)</em>
            }
            return $result;
        },
        ajax: {
            url: '/api/symptoms',
            dataType: 'json',
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
        }
    });
})
</script>
{% endblock %}