{% extends "layout/master.html" %}
{% block title %}
Dashboard
{% endblock %}

{% block css %}
<link href="/assets/plugins/morrisjs/morris.css" rel="stylesheet" />
<!-- <link href="/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" /> -->
<style>
.box-icon-buttons a.btn{
    padding-left: 20px;
    padding-right: 20px;
}
.box-icon-buttons a.btn i.material-icons{
    top:0px;
}
</style>
{% endblock %}

{% block content_header %}
<h2>Dashboard</h2>
<small class="text-muted">Welcome to MyMedicord</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12">
                {{alerts()}}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon"> <i class="zmdi zmdi-airline-seat-flat col-blue"></i> </div>
                    <div class="content">
                        <div class="text">Patients</div>
                        <div class="number" id="dashboard-data-pat">0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon"> <i class="zmdi zmdi-accounts-list-alt col-green"></i> </div>
                    <div class="content">
                        <div class="text">Doctors</div>
                        <div class="number" id="dashboard-data-doc">0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon"> <i class="zmdi zmdi-assignment col-blush"></i> </div>
                    <div class="content">
                        <div class="text">Healthcases</div>
                        <div class="number" id="dashboard-data-hc">0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon"> <i class="zmdi zmdi-hospital-alt col-cyan"></i> </div>
                    <div class="content">
                        <div class="text">Medicines</div>
                        <div class="number" id="dashboard-data-med">0</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>MyMedicord Survey</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <canvas id="line_chart" height="70"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Last 5 Diagnosis</h2>
                    </div>
                    <div class="body">
                        <table class="table table-hover table-responsive">
                            <tbody id="dashboard-data-illness">
                                <tr>
                                    <td>No Data</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Last 5 Symptoms</h2>
                    </div>
                    <div class="body">
                        <table class="table table-hover table-responsive">
                            <tbody id="dashboard-data-symp">
                                <tr>
                                    <td>No Data</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Summery</h2>
                    </div>
                    <div class="body box-icon-buttons">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <a href="#" class="btn btn-raised btn-danger waves-effect pull-left"> <i class="material-icons">favorite</i> Health</a>
                                <a href="#" class="btn btn-raised bg-black waves-effect waves-light pull-right"> <i class="material-icons">airline_seat_flat</i> Illness</a>
                            </div>
                        </div>
                        <div class="row clearfix text-center">
                            <a href="/growth_summery" class="btn btn-raised btn-info waves-effect"> <i class="material-icons">call_made</i> Growth</a>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <a href="#" class="btn btn-raised bg-purple waves-effect pull-left"> <i class="material-icons">pregnant_woman</i> Symptoms</a>
                                <a href="#" class="btn btn-raised btn-warning waves- pull-right"> <i class="material-icons">local_pharmacy</i> Drug</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
<script src="/assets/pages/dashboard.js"></script>
<script src="/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script> <!-- Sparkline Plugin Js -->
<script src="/assets/plugins/chartjs/Chart.bundle.min.js"></script> <!-- Chart Plugins Js --> 
<script src="/assets/js/pages/charts/sparkline.min.js"></script> 
<script src="/assets/js/pages/charts/chartjs.min.js"></script>
<script src="/assets/js/pages/index.js"></script>
{% endblock %}