{% extends "layout/master.html" %}
{% block title %}
All Doctors
{% endblock %}

{% block css %}
<style>
.doctor-info{
    min-height: 74px;
}
.edit_icon{
    display: inline-block;
    position: absolute;
    right: 30px;
    padding: 0;
    margin: 0;
}
</style>
{% endblock %}

{% block content_header %}
<h2>All Doctors</h2>
<small class="text-muted">Welcome to MyMedicord</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>
        <div class="row clearfix">
            {% for item in doctors %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="member-card verified">
                            <a href="/doctors/edit/{{item._id}}" class="edit_icon" >
                                <i class="zmdi zmdi-edit"></i>
                            </a>
                            <div class="thumb-xl member-thumb">
                                <img src="/assets/images/random-avatar3.jpg" class="img-circle" alt="profile-image">
                                <i class="zmdi zmdi-info" title="verified user"></i>
                            </div>

                            <div class="doctor-info">
                                <h4 class="m-b-5">{{item.name}}</h4>
                                <p class="text-muted">{{item.speciality}}&nbsp;<span> <a href="#" class="text-pink">{{item.website}}</a></span></p>
                            </div>
                            <p class="text-muted">{{item.phone}}</p>
                            <!-- <p class="text-muted">795 Folsom Ave, Suite 600 San Francisco, CADGE 94107</p>
                            <a href="profile.html"  class="btn btn-raised btn-sm">View Profile</a>
                            <ul class="social-links list-inline m-t-10">
                                <li><a title="facebook" href="doctors.html#"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a title="twitter" href="doctors.html#" ><i class="zmdi zmdi-twitter"></i></a></li>
                                <li><a title="instagram" href="http://thememakker.com/swift/hospital/3" ><i class="zmdi zmdi-instagram"></i></a></li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <h4>No doctors created yet</h4>
            {% endfor %}
            
        </div>
{% endblock %}

{% block js %}
{% endblock %}