{% extends "layout/master.html" %}
{% block title %}
Edit healthcase
{% endblock %}

{% block css %}
<link href="/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<link href="/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
<link href="/assets/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<style>
    .hidden{
        display: none;
    }
    .m0{
        margin: 0px;
    }
    .list-group-item{
        padding: 4px 15px;
    }
    .pl0{
        padding-left: 0px;
    }
    .pr0{
        padding-right: 0px;
    }
    .card .header{
        border: none;
    }
    .card .header h2 small{
        color: #4c4b4b;
    }
    .select2, .select2-container .select2-search__field{
        width: 100% !important;
    }
</style>
{% endblock %}

{% block content_header %}
<h2>Edit Healthcase</h2>
<small class="text-muted" id="healthcase_subheading" data-healthcaseid="{{healthcase_id}}">Healthcase: {{healthcase_id}}</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body" id="app">
                        {% raw %}
                        <div id="step1" :class="{hidden: (currentStep!=0) }">
                            <div class="header m0">
                                <h2>Step 1<small>Healthcase Description</small></h2>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <!-- <input type="text"  id="start_date" class="form-control" placeholder="Start Date"> -->
                                            <k-datetimepicker :max-date="future" name="start_date" placeholder="Healthcase Start Date" class="form-control" v-model="healthcase.startDate"></k-datetimepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <!-- <input type="text" id="end_date" class="form-control" placeholder="End Date(Optional)"> -->
                                            <k-datetimepicker :min-date="healthcase.startDate" :max-date="future" placeholder="Healthcase End Date(Optional)" class="form-control" v-model="healthcase.endDate"></k-datetimepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" v-model="healthcase.name" class="form-control" placeholder="Memorable Name(If Any)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group drop-custum">
                                        <select v-model="healthcase.follow_up_id" class="form-control show-tick">
                                            <option value="">-- Follow Up of another Healthcase --</option>
                                            <option value="10">16 Sep 2016-25 Sep 2016 : Fever</option>
                                            <option value="20">15 Aug 2017-20 Aug 2017 : Headache</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="step2" :class="{hidden: (currentStep!=1) }">
                            <div class="header m0">
                                <h2>Step 2<small>Patient Selection</small></h2>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group drop-custum">
                                        <select id="patients" v-model="healthcase.patient_id" class="form-control show-tick">
                                            <option v-for="item in patients" v-bind:value="item._id">{{item.name}} - {{item.relation}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="step3" :class="{hidden: (currentStep!=2) }">
                            <div class="header m0">
                                <h2>Step 3<small>Doctor Selection</small></h2>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group drop-custum">
                                        <select id="doctors" v-model="healthcase.doctor_id" class="form-control show-tick">
                                            <option v-for="item in doctors" v-bind:value="item._id">{{item.name}} - {{item.speciality}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="step4" :class="{hidden: (currentStep!=3) }">
                            <div class="header m0">
                                <h2>Step 4<small>Illness and Symptom Selection</small></h2>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group drop-custum">
                                        <select v-model="healthcase.illness_id" id="illness" class="form-control show-tick">
                                            <option value="">-- Mention Illness --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group drop-custum">
                                        <select class="form-control show-tick" id="symptom_select" multiple="multiple">
                                            <option value="">-- Select Symptoms --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <p class="text-danger font-bold">Note: Deleting symptoms will delete all associated feedbacks</p>
                                </div>
                            </div>
                        </div>
                        <div id="step5" :class="{hidden: (currentStep!=4) }">
                            <div class="header m0">
                                <h2>Step 5<small>Add Medicines</small></h2>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" v-model="medicine.name" class="form-control" placeholder="Medicine Name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header m0">
                                <h2>Medicine Instructions<small>Select appropriate instruction and click Add</small></h2>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-4 col-xs-6">
                                    <small>Doses</small>
                                    <div class="list-group" style="max-height: 200px;overflow: scroll;border: 0.5px solid #ddd;">
                                        <a @click="select_doses(index)" v-for="(item,index) in list_db.doses_data" href="javascript:void(0);" :class="{active:medicine.doses==index}" class="list-group-item">{{ item }}</a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <small>Unit</small>
                                    <div class="list-group" style="max-height: 200px;overflow: scroll;border: 0.5px solid #ddd;">
                                        <a @click="select_unit(index)" v-for="(item,index) in list_db.unit_data" href="javascript:void(0);" :class="{active:medicine.unit==index}" class="list-group-item">{{ item }}</a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <small>Route</small>
                                    <div class="list-group" style="max-height: 200px;overflow: scroll;border: 0.5px solid #ddd;">
                                        <a @click="select_route(index)" v-for="(item,index) in list_db.route_data" href="javascript:void(0);" :class="{active:medicine.route==index}" class="list-group-item">{{ item }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-4 col-xs-6">
                                    <small>Frequency</small>
                                    <div class="list-group" style="max-height: 200px;overflow: scroll;border: 0.5px solid #ddd;">
                                        <a @click="select_frequency(index)" v-for="(item,index) in list_db.frequency_data" href="javascript:void(0);" :class="{active:medicine.frequency==index}" class="list-group-item">{{ item }}</a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <small>Direction</small>
                                    <div class="list-group" style="max-height: 200px;overflow: scroll;border: 0.5px solid #ddd;">
                                        <a @click="select_direction(index)" v-for="(item,index) in list_db.direction_data" href="javascript:void(0);" :class="{active:medicine.direction==index}" class="list-group-item">{{ item }}</a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <small>Duration</small>
                                    <div class="list-group" style="max-height: 200px;overflow: scroll;border: 0.5px solid #ddd;">
                                        <a @click="select_duration(index)" v-for="(item,index) in list_db.duration_data" href="javascript:void(0);" :class="{active:medicine.duration==index}" class="list-group-item">{{ item }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <button @click="add_medicine" class="btn btn-raised btn-primary waves-effect" type="button">Add</button>
                                </div>
                                <div class="col-sm-12">
                                    <table class="table table-striped table-responsive">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>Name</th>
                                                <th>Doses</th>
                                                <th>Unit</th>
                                                <th>Route</th>
                                                <th>Frequency</th>
                                                <th>Direction</th>
                                                <th>Duration</th>
                                                <th>Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item,index) in healthcase.medicines">
                                                <td>{{index+1}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{list_db.doses_data[item.doses]}}</td>
                                                <td>{{list_db.unit_data[item.unit]}}</td>
                                                <td>{{list_db.route_data[item.route]}}</td>
                                                <td>{{list_db.frequency_data[item.frequency]}}</td>
                                                <td>{{list_db.direction_data[item.direction]}}</td>
                                                <td>{{list_db.duration_data[item.duration]}}</td>
                                                <td>
                                                    <button type="button" @click="remove_medicine(index)" class="btn btn-raised bg-deep-orange waves-effect btn-circle m0"> &nbsp;<i class="material-icons">delete_forever</i> </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="step6" :class="{hidden: (currentStep!=5) }">
                            <div class="header m0">
                                <h2>Step 6<small>Prescription Upload</small></h2>
                            </div>
                            <div class="row clearfix">
                                <input type="file" style="display:none;" id="pres_file" accept=".pdf">
                                <div class="col-md-12 tablerow" v-for="(item,index) in hc_files">
                                    <div class="col-md-10">
                                        <div class="col-md-6 col-sm-6">
                                            <k-datetimepicker placeholder="Select Date" class="form-control mb0-pt0" v-model="hc_files[index].date"></k-datetimepicker>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <input type="text" class="form-control" v-model="hc_files[index].report_type" placeholder="Report Type">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button @click="removeFile(index)" type="button" class="btn bg-pink btn-xs waves-effect"><i class="material-icons notop">clear</i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-offset-5 col-xs-offset-3">
                                    <button @click="addFile" type="button" class="btn bg-teal waves-effect">Add File</button>
                                </div>
                                <div class="col-md-12" >
                                    <div id="pres_upload_progress" class="progress" style="display:none; height:5px; margin-bottom: 5px;">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"> <span class="sr-only">60% Complete</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of steps -->
                        <div class="row clearfix">
                            <div class="col-xs-12">
                                <button type="button" v-if="currentStep>0" @click="prev" class="btn btn-raised g-bg-blue">Prev</button>
                                <button type="button" v-if="currentStep<maxStep" @click="next" class="btn btn-raised g-bg-blue pull-right">Next</button>
                                <button type="button" v-if="currentStep==maxStep"  @click="finish" class="btn btn-raised g-bg-cyan pull-right">Finish</button>
                            </div>
                        </div>
                        {% endraw %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
<script src="/assets/plugins/autosize/autosize.js"></script> <!-- Autosize Plugin Js --> 
<script src="/assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js --> 
<script src="/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script> 
<script src="/assets/plugins/select2/js/select2.min.js"></script> 
<script src="/assets/js/pages/forms/basic-form-elements.js"></script>
<script src="/assets/static/js/vue.js"></script>
<script>window.eventHub = new Vue()</script>
<script src="/assets/pages/vue-bootstrap-material-datetimepicker.js"></script>
<script src="/assets/pages/edit_hc.js"></script>
<script>
$(function(){
    $("#illness").selectpicker("destroy").select2({
        theme: "bootstrap",
        placeholder: "Mention Illness",
        tags: true,
        multiple:false,
        createTag: function (params) {
            return {
                id: params.term,
                text: params.term,
                newOption: true
            }
        },
        templateResult: function (data) {
            var $result = $("<span></span>");
            $result.text(data.text);
            if (data.newOption) {
                $result.append(' <i class="material-icons">fiber_new</i>');//<em>(new)</em>
            }
            return $result;
        },
        ajax: {
            url: '/api/illness',
            dataType: 'json',
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
        }
    });
    $("#symptom_select").selectpicker("destroy").select2({
        theme: "bootstrap",
        placeholder: "Select symptoms",
        allowClear: true,
        tags: true,
        createTag: function (params) {
            return {
                id: "__"+params.term,
                text: params.term,
                newOption: true
            }
        },
        templateResult: function (data) {
            var $result = $("<span></span>");
            $result.text(data.text);
            if (data.newOption) {
                $result.append(' <i class="material-icons">fiber_new</i>');//<em>(new)</em>
            }
            return $result;
        },
        ajax: {
            url: '/api/symptoms',
            dataType: 'json',
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
        }
    });
})
</script>
{% endblock %}