{% extends "layout/master.html" %}
{% block title %}
Edit Doctor
{% endblock %}

{% block css %}
<link href="/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<style>
    .hidden{
        display: none;
    }
    .m0{
        margin: 0px;
    }
    .pl0{
        padding-left: 0px;
    }
    .pr0{
        padding-right: 0px;
    }
    .card .header{
        border: none;
    }
    .card .header h2 small{
        color: #4c4b4b;
    }
</style>
{% endblock %}

{% block content_header %}
<h2>Edit Doctor Detail</h2>
<small class="text-muted">Doctor: {{doctor._id}}</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form action="" method="post">
                <div class="card">
                    <div class="header">
                        <h2>Doctor Profile</h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="name" value="{{doctor.name}}" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="email" value="{{doctor.email}}" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="speciality" value="{{doctor.speciality}}" class="form-control" placeholder="Speciality">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="phone" value="{{doctor.phone}}" class="form-control" placeholder="Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="website" value="{{doctor.website}}" class="form-control" placeholder="Website">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-raised g-bg-cyan">Save</button>
                                <button type="reset" class="btn btn-raised">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
{% endblock %}

{% block js %}
<script src="/assets/plugins/autosize/autosize.js"></script> <!-- Autosize Plugin Js --> 
<script src="/assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js --> 
<script src="/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script> 
<!-- <script src="/assets/plugins/select2/js/select2.min.js"></script>  -->
<script src="/assets/js/pages/forms/basic-form-elements.js"></script>
{% endblock %}