{% extends "layout/master.html" %}
{% block title %}
Edit Patient
{% endblock %}

{% block css %}
<link href="/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<style>
    .hidden{
        display: none;
    }
    .m0{
        margin: 0px;
    }
    .pl0{
        padding-left: 0px;
    }
    .pr0{
        padding-right: 0px;
    }
    .card .header{
        border: none;
    }
    .card .header h2 small{
        color: #4c4b4b;
    }
</style>
{% endblock %}

{% block content_header %}
<h2>Edit Patient Detail</h2>
<small class="text-muted">Patient: {{patient._id}}</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form action="" method="post">
                <div class="card">
                    <div class="header">
                        <h2>Patient Profile</h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="name" value="{{patient.name}}" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="email" value="{{patient.email}}" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="phone" value="{{patient.info.phone}}" class="form-control" placeholder="Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="dob" value="{{patient.info.dob|date('dddd DD MMMM YYYY')}}" id="dob" class="datepicker form-control" placeholder="Date of Birth">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group drop-custum">
                                    <select name="gender" class="form-control show-tick">
                                        <option value="">-- Select Gender --</option>
                                        {{makeOptions([{value:"male",text:"Male"},
                                        {value:"female",text:"Female"},
                                        {value:"other",text:"Other"}],patient.info.gender)}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group drop-custum">
                                    <select name="relation" class="form-control show-tick">
                                        <option value="">-- Choose Relation --</option>
                                        {{makeOptions([{value:"Father",text:"Father"},
                                        {value:"Mother",text:"Mother"},
                                        {value:"Son",text:"Son"},
                                        {value:"Daughter",text:"Daughter"},
                                        {value:"Husband",text:"Husband"},
                                        {value:"Wife",text:"Wife"},
                                        {value:"Brother",text:"Brother"},
                                        {value:"Sister",text:"Sister"},
                                        {value:"Grandfather",text:"Grandfather"},
                                        {value:"Grandmother",text:"Grandmother"},
                                        {value:"Great grandfather",text:"Great grandfather"},
                                        {value:"Great grandmother",text:"Great grandmother"},
                                        {value:"Grandson",text:"Grandson"},
                                        {value:"Granddaughter",text:"Granddaughter"},
                                        {value:"Uncle",text:"Uncle"},
                                        {value:"Aunt",text:"Aunt"},
                                        {value:"Nephew",text:"Nephew"},
                                        {value:"Niece",text:"Niece"},
                                        {value:"Cousin",text:"Cousin"},
                                        {value:"Stepfather",text:"Stepfather"},
                                        {value:"Stepmother",text:"Stepmother"},
                                        {value:"Stepbrother",text:"Stepbrother"},
                                        {value:"Stepsister",text:"Stepsister"},
                                        {value:"Stepson",text:"Stepson"},
                                        {value:"Stepdaughter",text:"Stepdaughter"},
                                        {value:"Father-in-law",text:"Father-in-law"},
                                        {value:"Mother-in-law",text:"Mother-in-law"},
                                        {value:"Brother-in-law",text:"Brother-in-law"},
                                        {value:"Sister-in-law",text:"Sister-in-law"},
                                        {value:"Son-in-law",text:"Son-in-law"},
                                        {value:"Daughter-in-law",text:"Daughter-in-law"},
                                        {value:"Friend",text:"Friend"},
                                        {value:"me",text:"Me",disabled:true}],patient.relation)}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group drop-custum">
                                    <select name="blood" class="form-control show-tick">
                                        <option value="">-- Select Blood Group --</option>
                                        {{makeOptions([{value:"A+",text:"A+"},
                                        {value:"A-",text:"A-"},
                                        {value:"B+",text:"B+"},
                                        {value:"B-",text:"B-"},
                                        {value:"AB+",text:"AB+"},
                                        {value:"AB-",text:"AB-"},
                                        {value:"O+",text:"O+"},
                                        {value:"O-",text:"O-"}],patient.blood)}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-raised g-bg-cyan">Save</button>
                                <button type="reset" class="btn btn-raised">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
{% endblock %}

{% block js %}
<script src="/assets/plugins/autosize/autosize.js"></script> <!-- Autosize Plugin Js --> 
<script src="/assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js --> 
<script src="/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script> 
<!-- <script src="/assets/plugins/select2/js/select2.min.js"></script>  -->
<script src="/assets/js/pages/forms/basic-form-elements.js"></script>
{% endblock %}