{% extends "layout/master.html" %}
{% block title %}
Evolution
{% endblock %}

{% block css %}
<link href="/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<!-- <link rel="stylesheet" href="/assets/static/css/dropzone.basic.min.css"> -->
<link rel="stylesheet" href="/assets/static/css/dropzone.min.css">
{% endblock %}

{% block content_header %}
<h2>Evolution</h2>
<small class="text-muted">Welcome to MyMedicord</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12" id="alert_container">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a href="tabs.html#birthinfo" data-toggle="tab">Birth Info</a></li>
                    <li role="presentation"><a href="tabs.html#evolutionaryinfo" data-toggle="tab">Evolutionary Info</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="birthinfo">
                        <form action="/evolution/birth" method="post">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-sm-12">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" value="{{birth.birth_weight}}" name="weight" class="form-control" placeholder="Birth Weight">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" value="{{birth.birth_mark}}" name="mark" class="form-control" placeholder="Birth Mark">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" value="{{birth.hair_color}}" name="hair_color" class="form-control" placeholder="Hair Color">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" value="{{birth.birth_height}}" name="height" class="form-control" placeholder="Birth Height">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" value="{{birth.eye_color}}" name="eye_color" class="form-control" placeholder="Eye Color">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group drop-custum">
                                            <select name="hair_type" value="{{birth.hair_type}}" class="form-control show-tick">
                                                <option value="">Select Hair Type</option>
                                                <option value="straight">Straight</option>
                                                <option value="curly">Curly</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-raised btn-primary waves-effect">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="evolutionaryinfo">
                        {% raw %}
                        <div class="row clearfix">
                            <div class="col-lg-6">
                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="evo_date" class="datepicker form-control" placeholder="Date">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" v-model="evo.weight" class="form-control" placeholder="Weight">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" v-model="evo.height" class="form-control" placeholder="Height">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" v-model="evo.identification_mark" class="form-control" placeholder="Identification mark">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" v-model="evo.eye_color" class="form-control" placeholder="Eye Color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" v-model="evo.hair_color" class="form-control" placeholder="Hair Color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group drop-custum">
                                            <select v-model="evo.hair_type" class="form-control show-tick">
                                                <option value="">Select Hair Type</option>
                                                <option value="straight">Straight</option>
                                                <option value="curly">Curly</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-xs-12">
                                    <h4>Upload Photos</h4>
                                    <!-- <input type="file" name="file" id="upload_evolution" multiple> -->
                                    <form action="/uploadfiles" class="dropzone" id="dropzonecomponent">
                                        <div class="fallback">
                                            <input name="file" type="file" multiple />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-12">
                                <button type="button" @click="saveEvolution" class="btn btn-raised btn-primary waves-effect">Save</button>
                            </div>
                        </div>
                        {% endraw %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
<script src="/assets/plugins/autosize/autosize.js"></script> <!-- Autosize Plugin Js --> 
<script src="/assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js --> 
<script src="/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script> 
<script src="/assets/static/js/dropzone.min.js"></script>
<script>
    Dropzone.autoDiscover = false;
</script>
<script src="/assets/js/pages/forms/basic-form-elements.js"></script>
<script src="/assets/static/js/vue.js"></script>
<script src="/assets/pages/evolution.js"></script>
{% endblock %}