{% extends "layout/master.html" %}
{% block title %}
Growth Summery
{% endblock %}

{% block css %}
<link href="/assets/plugins/morrisjs/morris.css" rel="stylesheet" />
<link rel="stylesheet" href="/assets/static/css/ekko-lightbox.css">
<style>
.gallery-horizontal > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.gallery-horizontal > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}
.modal-backdrop {
    background: rgba(0,0,0,1);
}
</style>
{% endblock %}

{% block content_header %}
<h2>Growth Summery</h2>
<small class="text-muted">Welcome to MyMedicord</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a href="tabs.html#home" data-toggle="tab">Growth Chart</a></li>
                    <li role="presentation"><a href="tabs.html#profile" data-toggle="tab">Image Galary</a></li>
                </ul>
                
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                        <div class="row">
                            <div class="card">
                                <div class="header">
                                    <h4>Weight Chart</h4>
                                </div>
                                <div class="body">
                                    <canvas id="line_chart" height="70"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card">
                                <div class="header">
                                    <h4>Height Chart</h4>
                                </div>
                                <div class="body">
                                    <canvas id="line_chart2" height="70"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile">
                        <div class="row clearfix">
                            {% for item in growth %}
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h2> {{item.date|date}} <small> Weight: {{item.weight}}, Height: {{item.height}} </small> </h2>
                                    </div>
                                    <div class="body gallery-horizontal">
                                        <div class="row">
                                            {% for item2 in item.files %}
                                            <div class="col-xs-4">
                                                <a href="/gallery/{{item2}}" data-toggle="lightbox" class="thumbnail">
                                                    <img src="/gallery/{{item2}}" class="img-responsive" alt="">
                                                </a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
<script src="/assets/plugins/chartjs/Chart.bundle.min.js"></script>
<script src="/assets/static/js/ekko-lightbox.min.js"></script>
<script>
$(function() {
    $.ajax({
        url:'/api/growth_list',
        method: "get",
        dataType: 'json',
        success:function(data){
            new Chart(document.getElementById("line_chart").getContext("2d"), {
                    type: 'line',
                    data: {
                        labels: data.map(m=>(new Date(m.date)).toDateString()),//["January", "February", "March", "April", "May", "June", "July"],
                        datasets: [{
                            label: "Weight",
                            data: data.map(m=>m.weight),//[65, 59, 80, 81, 56, 55, 40],
                            borderColor: 'rgba(0, 188, 212, 0.75)',
                            backgroundColor: 'rgba(0, 188, 212, 0.3)',
                            pointBorderColor: 'rgba(0, 188, 212, 0)',
                            pointBackgroundColor: 'rgba(0, 188, 212, 0.9)',
                            pointBorderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: true
                    }
                });
            new Chart(document.getElementById("line_chart2").getContext("2d"), {
                    type: 'line',
                    data: {
                        labels: data.map(m=>(new Date(m.date)).toDateString()),//["January", "February", "March", "April", "May", "June", "July"],
                        datasets: [{
                            label: "Height",
                            data: data.map(m=>m.height),//[65, 59, 80, 81, 56, 55, 40],
                            borderColor: 'rgba(0, 188, 212, 0.75)',
                            backgroundColor: 'rgba(0, 188, 212, 0.3)',
                            pointBorderColor: 'rgba(0, 188, 212, 0)',
                            pointBackgroundColor: 'rgba(0, 188, 212, 0.9)',
                            pointBorderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: true
                    }
                });
        },
        error:function(err){

        }
    })
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
});

</script>
{% endblock %}