<html>
    <head>
        <title>Health Feedback - {{patient.name}}</title>
    </head>
    <body style="background:#13577a; color:#fff; font-family: arial, sans-serif;">
        <img src="/assets/images/logo_n.png" alt="MyMedicord.com" style="height:55px;">
        <h2>Instant Feedback How You Feel Today</h2>
        <p>Dear {{patient.name}}! <br/>
        Let Us Know, How are you feeling today or some feedback about your physical condition?</p>
        <form action="" method="post">
        <table>
            <tbody>
                <tr>
                    <td colspan="5"><strong>How are you feeling today?</strong></td>
                </tr>
                <tr>
                    <td width="120" style="text-align:center;">
                        <img src="/assets/images/smile/1.png" style="width:50px;" ><br/>
                        Fit and Fine<br/>
                        <input type="radio" name="daily" value="1"/>
                    </td>
                    <td width="120" style="text-align:center;">
                        <img src="/assets/images/smile/2.png" style="width:50px;" ><br/>
                        Fine but Weak <br/>
                        <input type="radio" name="daily" value="2" />
                    </td>
                    <td width="120" style="text-align:center;">
                        <img src="/assets/images/smile/0.png" style="width:50px;" ><br/>
                        Not Sure <br/>
                        <input type="radio" name="daily" value="0" checked />
                    </td>
                    <td width="120" style="text-align:center;">
                        <img src="/assets/images/smile/3.png" style="width:50px;" ><br/>
                        Down <br/>
                        <input type="radio" name="daily" value="3" />
                    </td>
                    <td width="120" style="text-align:center;">
                        <img src="/assets/images/smile/4.png" style="width:50px;" ><br/>
                        Completely Down <br/>
                        <input type="radio" name="daily" value="4" />
                    </td>
                </tr>
                <tr><td colspan="5">&nbsp;</td></tr>
                {% for item in symptoms %}
                <tr>
                    <td colspan="5"><strong>How is your {{item.symptom}}?</strong></td>
                </tr>
                <tr>
                    <td width="120" style="text-align:center;">
                        <img src="/assets/images/smile/1.png" style="width:50px;" ><br/>
                        Close Symptom <br/>
                        <input type="radio" name="{{item.healthreports|join('.')}}" value="1" />
                    </td>
                    <td width="120" style="text-align:center;">
                        <img src="/assets/images/smile/2.png" style="width:50px;" ><br/>
                        Fine but Weak <br/>
                        <input type="radio" name="{{item.healthreports|join('.')}}" value="2" />
                    </td>
                    <td width="120" style="text-align:center;">
                        <img src="/assets/images/smile/0.png" style="width:50px;" ><br/>
                        Not Sure <br/>
                        <input type="radio" name="{{item.healthreports|join('.')}}" value="0" checked/>
                    </td>
                    <td width="120" style="text-align:center;">
                        <img src="/assets/images/smile/3.png" style="width:50px;" ><br/>
                        Down <br/>
                        <input type="radio" name="{{item.healthreports|join('.')}}" value="3" />
                    </td>
                    <td width="120" style="text-align:center;">
                        <img src="/assets/images/smile/4.png" style="width:50px;" ><br/>
                        Completely Down <br/>
                        <input type="radio" name="{{item.healthreports|join('.')}}" value="4" />
                    </td>
                </tr>
                {% endfor %}
                <tr><td colspan="5">&nbsp;</td></tr>
                <tr>
                    <td colspan="5">Remark (If any)</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <textarea name="remark" rows="2"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Save</button>
        </form>
    </body>
</html>