{% extends "layout/master.html" %}
{% block title %}
View Healthcases
{% endblock %}

{% block css %}
<style>
.material-icons{
    top: 0px !important;
}
</style>
{% endblock %}

{% block content_header %}
<h2>View Healthcases</h2>
<small class="text-muted">Welcome to MyMedicord</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Memorable name</th>
                            <th>Illness</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in list %}
                        <tr>
                            <td>{{item.startDate | date }}</td>
                            <td>{% if item.endDate %} {{item.endDate | date }} {%else%} <strong class="col-teal">ONGOING</strong> {%endif%}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.illness}}</td>
                            <td>
                                <a href="/healthcases/edit/{{item._id}}" class="btn btn-raised bg-light-blue waves-effect btn-xs"><i class="material-icons">mode_edit</i></a>
                                <a href="/healthcases/view/{{item._id}}" class="btn btn-raised bg-light-blue waves-effect btn-xs"><i class="material-icons">pageview</i></a>
                                <a href="/healthcases/track?id={{item._id}}" class="btn btn-raised bg-light-blue waves-effect btn-xs"><i class="material-icons">mood</i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}

{% block js %}
{% endblock %}