{% extends "layout/master.html" %}
{% block title %}
View Healthcase
{% endblock %}

{% block css %}
<style>
.m0{
    margin: 0px;
}
@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  .content{
      margin: 0px !important;
  }
  #section-to-print {
    /* margin: 0px; */
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
  }
  .noprint{
      display:none;
  }
}
</style>
{% endblock %}

{% block content_header %}
<h2>DEMOGRAPHICS</h2>
<small class="text-muted">Healthcase: <u>{{healthcase._id}}</u> Last Updated at: {{healthcase.updated_at | date}}</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix" id="section-to-print">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="card">
                    <div class="header">
                        <h2>Patient Information</h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>Name: </strong> {{healthcase.patient.name}}</p>
                                <p><strong>DOB: </strong> {{healthcase.patient.dob|date}}</p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Blood Group: </strong> {{healthcase.patient.blood}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Healthcase Summary</h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>Name: </strong> {{healthcase.name}}</p>
                                <p><strong>Date: </strong> {{healthcase.startDate | date}} {% if healthcase.endDate %}-{{healthcase.endDate | date}}{% endif %}</p>
                                <p><strong>Doctor: </strong> {{healthcase.doctor.name}}</p>
                                <p><strong>Symptoms: </strong>
                                    {{ healthcase.symptoms | join(",",'name') }}
                                </p>
                                <p><strong>Diagnosed With: </strong> {{healthcase.illness }}</p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Drugs: </strong></p>
                                {%for item in healthcase.medicines%}
                                <p>
                                {{loop.index}}. {{ item.name }} - {{item.doses.text}} {{item.unit.text}} {{item.duration.text}}
                                </p>
                                {% else %}
                                Not prescribed
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if healthcase.files.length %}
                <div class="card">
                    <div class="header">
                        <h2>Reports</h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Report Date</th>
                                            <th>Report Type</th>
                                            <th class="noprint">View/Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in healthcase.files %}
                                        <tr>
                                            <td>{{item|date}}</td>
                                            <td>{{item.report_type}}</td>
                                            <td class="noprint">
                                                <a target="_blank" href="/gallery/{{item.file}}" class="btn btn-default btn-xs waves-effect m0"><i class="material-icons notop">file_download</i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 text-center">
                <a target="_blank" href="/healthcases/download/{{healthcase._id}}" class="btn btn-raised btn-primary waves-effect pull-left"> <i class="material-icons" style="top:0px;">cloud_download</i> Download</a>
                {% if not user.demo_user %}
                <a href="#" data-toggle="modal" data-target="#shareModal" class="btn btn-raised btn-danger waves-effect pull-left"> <i class="material-icons" style="top:0px;">share</i> Share via Email</a>
                {% endif %}
            </div>
        </div>
{% endblock %}

{% block modals %}
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="shareApp">
            <div class="modal-header">
                <h4 class="modal-title">Share Healthcase via Email</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="email_to" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="email_subject" class="form-control" placeholder="Subject">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="form-line">
                                <textarea rows="10" id="email_content" class="form-control" placeholder="Your content goes here.."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="send" class="btn btn-link waves-effect">Send</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(function(){
    $("#send").click(function(){
        
        var data={
            to:$("#email_to").val(),
            subject:$("#email_subject").val(),
            content:$("#email_content").val(),
            id:"{{healthcase._id}}"
        };
        if(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(data.to))
            console.log('email ok');
        else{
            swal('Invalid Email');
            return;
        }
        if(data.subject.length==0)
            data.subject="{{user.name}} has shared a healthcase with you";
        if(data.content.length==0)
            data.content="Please find the attachment";
        $("#send").attr('disabled','disabled').text('Sending..');
        $.ajax({
            url:"/healthcases/share",
            method:"post",
            data:data,
            success:function(res){
                swal(res.message).then(function(){
                    $("#email_to").val("");
                    $("#email_subject").val("");
                    $("#email_content").val("");
                    $("#shareModal").modal('hide');
                })
                $("#send").removeAttr('disabled').text('Send');
            },
            error:function(e){
                console.log("Error",e);
                swal("Error Occured");
                $("#send").removeAttr('disabled').text('Send');
            }
        }) 
    })
})
</script>
{% endblock %}