{% extends "layout/master.html" %}
{% block title %}
MyMedicord - Search Nearby Patients
{% endblock %}

{% block css %}
<link href="assets/plugins/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet" />
<link href="assets/plugins/ion-rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" />
<style>
.map_panel_closed{
    display: none;
}
.block-header{
    margin-bottom: 0px;
}
.mb0{
    margin-bottom: 0px;
}
.mt0{
    margin-top: 0px;
}
.map_canvas{
    height:500px;
}
.map_panel{
    position: relative;
    width: 309px;
    height: 210px;
    z-index: 1;
    opacity: 0.7;
    padding: 10px;
    box-shadow: 2px 3px 3px #37474F;
}
.map_panel:hover{
    opacity: 1;
}
.map_panel_container_opened .map_canvas{
    margin-top: -50px;
}
.map_panel_container_closed .map_canvas{
    margin-top: -210px;
}
.map_panel0{
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 1;
    padding: 10px;
    box-shadow: 2px 3px 3px #37474F;
}
.input-group-btn2{
    padding-left: 2px !important;
    padding-right: 0px !important;
}
.input-group-btn2 button.btn{
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.blur{
    color:transparent;
	text-shadow: 0 0 6px #fff;
}
</style>
{% endblock %}

{% block content_header %}
<h2>Search Nearby Patients</h2>
<!-- <small class="text-muted">Welcome to MyMedicord</small> -->
{% endblock %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-12">
        {{alerts()}}
    </div>
</div>
{% raw %}
<div id="map_app" :class="{'map_panel_container_closed':map_panel,'map_panel_container_opened':!map_panel}">
    <div :class="{'map_panel_closed':map_panel}" class="map_panel0 bg-blue-grey">
        <button @click="map_panel_on" style="margin-top:0px;width: 30px;height: 30px;" type="button" class="btn btn-raised btn-default btn-circle waves-effect waves-circle waves-float">
            <i class="material-icons">keyboard_arrow_down</i>
        </button>
    </div>
    <div :class="{'map_panel_closed':!map_panel}" class="map_panel bg-blue-grey">
        <button @click="map_panel_off" style="margin-top: 0;width: 30px;height: 30px;" type="button" class="btn btn-raised btn-default btn-circle waves-effect waves-circle waves-float">
            <i class="material-icons">keyboard_arrow_up</i>
        </button>
        <div class="input-group mb0">
            <input type="text" class="bg-white col-black form-control" style="padding-left:6px;" v-model="query.text" placeholder="Search.. ">
            <div class="input-group-btn input-group-btn2">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{map_filters[cur_filter]}} <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li v-for="(item,index) in map_filters"><a @click="select_filter(index)" href="#">{{item}}</a></li>
                </ul>
            </div>
        </div>
        <label for="slider_map" class="col-white">Distance(km):</label>
        <input type="text" id="slider_map">
        <button @click="search" type="button" class="btn btn-raised btn-default btn-sm waves-effect">
            Search <i class="material-icons" style="margin-top: -8px;">search</i>
        </button>
        <div v-if="searching" style="position: absolute;top: 48px;left: 0;z-index: 2;width: 309px;height: 160px;">
            <div class="preloader pl-size-xl" style="margin-left: 75px;width: 140px;height: 140px;">
                <div class="spinner-layer">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map_canvas" id="map"></div>
</div>
{% endraw %}
{% endblock %}

{% block modals %}
{% raw %}
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-col-blue" id="user_detail_app">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="defaultModalLabel">User's Detail</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <h4 class="mb0">Personal Information</h4>
                        <hr class="mb0 mt0">
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <img style="width: 110px;" :src="user.personal.info.photo?'gallery/'+user.personal.info.photo:'/assets/images/random-avatar7.jpg'" alt="">
                            </div>
                            <div class="col-md-4">
                                <strong>Name</strong>
                                <p :class="{'blur':user.personal.anonymous}">{{user.personal.name}}</p>
                                <strong>Phone</strong>
                                <p :class="{'blur':user.personal.anonymous}">{{user.personal.info.phone}}</p>
                            </div>
                            <div class="col-md-4">
                                <strong>Email ID</strong>
                                <p :class="{'blur':user.personal.anonymous}">{{user.personal.email}}</p>
                                <strong>Address</strong>
                                <address :class="{'blur':user.personal.anonymous}">{{user.personal.info.address}}</address>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="display:none;">
                        <h4 class="mb0">General Information</h4>
                        <hr class="mb0 mt0">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <strong>Last Visit</strong>
                                <p>{{user.general.last}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="mb0">Medical Information</h4>
                        <hr class="mb0 mt0">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <strong>Doctor Name</strong>
                                <p>{{user.medical.doctor}}</p>
                                <strong>Symptoms</strong>
                                <p>{{user.medical.symptoms.join(",")}}</p>
                            </div>
                            <div class="col-md-6">
                                <strong>Diagonosed With</strong>
                                <p>{{user.medical.illness}}</p>
                                <strong>Medicines</strong>
                                <p>{{user.medical.medicines.join(",")}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
{% endraw %}
{% endblock %}

{% block searchbar_disable %} 
<script>
    $(function(){
        $("#morphsearch").hide();
    })
</script>
{% endblock %}

{% block js %}
<script src="/assets/plugins/ion-rangeslider/js/ion.rangeSlider.js"></script>
<script src="/assets/static/js/vue.js"></script>
<script src="/assets/pages/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&callback=map_app.init"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe1exctmeJjIb4guyT6newSpyJ7kA3aLc&libraries=places"></script> -->
{% endblock %}