{% extends "layout/master.html" %}
{% block title %}
New Patient
{% endblock %}

{% block css %}
<link href="/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<link href="/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
<link href="/assets/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<style>
    .hidden{
        display: none;
    }
    .m0{
        margin: 0px;
    }
    .pl0{
        padding-left: 0px;
    }
    .pr0{
        padding-right: 0px;
    }
    .card .header{
        border: none;
    }
    .card .header h2 small{
        color: #4c4b4b;
    }
    .select2-container{
        width: 100% !important;
    }
</style>
<style>
.profile-pic {
    /*border-radius: 50%;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;*/
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
}
.profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}
.profile-pic span {
    display: inline-block;
    font-weight: bold;
}
.max-width{
    max-width: 100%;
}
.img-container{
    height: 100%;
}
.img-container img {
    max-width: 100%;
}
</style>
<style>
.modal {
    text-align: center;
    padding: 0!important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-top: 0px !important; 
}
.mt7{
    margin-top: 7px;
}
</style>
<link  href="/assets/static/css/cropper.min.css" rel="stylesheet">
{% endblock %}

{% block content_header %}
<h2>Add Patient</h2>
<small class="text-muted">Welcome to MyMedicord</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12" id="alert_container">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="app">
                {% raw %}
                <div class="card">
                    <div class="header">
                        <h2>Patient Profile <small>Please provide the following informations</small> </h2>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li role="presentation" class="active"><a href="#basic" data-toggle="tab">Basic Info</a></li>
                            <li role="presentation"><a href="#about" data-toggle="tab">About Patient</a></li>
                            <li role="presentation"><a href="#emergency" data-toggle="tab">Emergency Contacts</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="basic">
                                <div class="row clearfix">
                                    <div class="col-md-9">
                                        <div class="row clearfix">
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" v-model="patient.name" class="form-control" placeholder="Name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" v-model="patient.email" class="form-control" placeholder="Email">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-3 col-xs-12">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" v-model="patient.info.phone" class="form-control" placeholder="Phone">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-xs-12">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <!-- <input type="text"  id="dob" class="datepicker form-control" placeholder=""> -->
                                                        <k-datetimepicker placeholder="Date of Birth" class="form-control" v-model="patient.info.dob"></k-datetimepicker>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group drop-custum">
                                                    <select v-model="patient.info.gender" class="form-control show-tick">
                                                        <option value="">-- Select Gender --</option>
                                                        <option value="male">Male</option>
                                                        <option value="female">Female</option>
                                                        <option value="other">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group drop-custum">
                                                    <select v-model="patient.relation" class="form-control show-tick">
                                                        <option value="">-- Choose Relation --</option>
                                                        <option value="Father">Father</option><option value="Mother">Mother</option><option value="Son">Son</option><option value="Daughter">Daughter</option><option value="Husband">Husband</option><option value="Wife">Wife</option><option value="Brother">Brother</option><option value="Sister">Sister</option><option value="Grandfather">Grandfather</option><option value="Grandmother">Grandmother</option><option value="Great grandfather">Great grandfather</option><option value="Great grandmother">Great grandmother</option><option value="Grandson">Grandson</option><option value="Granddaughter">Granddaughter</option><option value="Uncle">Uncle</option><option value="Aunt">Aunt</option><option value="Nephew">Nephew</option><option value="Niece">Niece</option><option value="Cousin">Cousin</option><option value="Stepfather">Stepfather</option><option value="Stepmother">Stepmother</option><option value="Stepbrother">Stepbrother</option><option value="Stepsister">Stepsister</option><option value="Stepson">Stepson</option><option value="Stepdaughter">Stepdaughter</option><option value="Father-in-law">Father-in-law</option><option value="Mother-in-law">Mother-in-law</option><option value="Brother-in-law">Brother-in-law</option><option value="Sister-in-law">Sister-in-law</option><option value="Son-in-law">Son-in-law</option><option value="Daughter-in-law">Daughter-in-law</option><option value="Friend">Friend</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group drop-custum">
                                                    <select v-model="patient.blood" class="form-control show-tick">
                                                        <option value="">-- Select Blood Group --</option>
                                                        <option value="A+">A+</option>
                                                        <option value="A-">A-</option>
                                                        <option value="B+">B+</option>
                                                        <option value="B-">B-</option>
                                                        <option value="AB+">AB+</option>
                                                        <option value="AB-">AB-</option>
                                                        <option value="O+">O+</option>
                                                        <option value="O-">O-</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class=" card patient-profile">
                                            <input type="file" id="avatar_file" class="sr-only" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                                            <a href="#" data-backdrop="static" data-toggle="modal" data-target="#profile_picture_uploader" class="profile-pic">
                                                <img id="account_avatar" src="/assets/images/image-1.jpg" class="img-responsive" alt="" style="margin:0px auto;">
                                                <div style="position: absolute;top: 50%;width: 100%;">
                                                    <i class="material-icons">camera_alt</i> <span>Change Image</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="about">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                          <th colspan="2">Have any of the person proposed to be insured ever suffered from/are currently suffering from any of the following.</th>
                                          <th width="91"><div align="center"><strong>Y/N</strong></div></th>
                                          <th width="117"><div align="center"><strong>Comment</strong></div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) in checkQuestions">
                                          <td width="32" height="33">{{(index+1)}}</td>
                                          <td width="492">{{item.question}}</td>
                                          <td>
                                            <div class="text-center">
                                                <input :id="'answer'+index" type="checkbox" v-model="checkQuestions[index].answer" class="filled-in chk-col-pink">
                                                <label :for="'answer'+index">&nbsp;</label>
                                            </div>
                                          </td>
                                          <td>
                                            <select :data-index="index" class="pat_questions_select form-control show-tick" multiple="multiple"></select>
                                          </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="emergency">
                                <div class="row" v-for="(item,i) in emer_list">
                                    <div class="col-md-2">
                                        <input class="form-control" type="text" v-model="emer_list[i].name" placeholder="Name">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" v-model="emer_list[i].phone"  placeholder="Phone">
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" type="email" v-model="emer_list[i].email" placeholder="Email">
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" type="text" v-model="emer_list[i].place" placeholder="Place">
                                    </div>
                                    <div class="col-md-2">
                                        <button @click="removeEmer(i)" class="btn btn-danger btn-raised btn-xs m-t-0 m-b-0" v-if="i>0" >-</button>
                                    </div>
                                </div>
                                <button @click="addEmer" class="btn btn-success btn-raised btn-xs m-b-0">+</button>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <button type="button" @click="savepatient" class="btn btn-raised g-bg-cyan">Save</button>
                            <button type="reset" class="btn btn-raised">Cancel</button>
                        </div>
                    </div>
                </div>
                {% endraw %}
            </div>
        </div>
{% endblock %}

{% block modals %}
<div class="modal fade" id="profile_picture_uploader" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Upload Image</h4>
            </div>
            <div class="modal-body" id="container-body">
                <div class="img-container">
                    <img class="max-width" id="profile_picture_image" src="/assets/images/image-1.jpg">
                </div>
            </div>
            <div class="modal-footer">
                    <button type="button" id="browseImage" class="btn btn-primary waves-effect">Browse</button>
                <button type="button" id="uploadImage" class="btn btn-primary waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/assets/plugins/autosize/autosize.js"></script> <!-- Autosize Plugin Js --> 
<script src="/assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js --> 
<script src="/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script> 
<script src="/assets/plugins/select2/js/select2.min.js"></script> 
<script src="/assets/js/pages/forms/basic-form-elements.js"></script>
<script src="/assets/static/js/vue.js"></script>
<script src="/assets/pages/vue-bootstrap-material-datetimepicker.js"></script>
<script src="/assets/static/js/cropper.min.js"></script>
<script src="/assets/pages/create_patient.js"></script>
<script>
    var cropBoxData;
    var canvasData;
    window.cropper=null;
    var image=document.getElementById('profile_picture_image')
    window.filename="";
    function setModalMaxHeight(element) {
        this.$element     = $(element);  
        this.$content     = this.$element.find('.modal-content');
        var borderWidth   = this.$content.outerHeight() - this.$content.innerHeight();
        var dialogMargin  = $(window).width() < 768 ? 20 : 60;
        var contentHeight = $(window).height() - (dialogMargin + borderWidth);
        var headerHeight  = this.$element.find('.modal-header').outerHeight() || 0;
        var footerHeight  = this.$element.find('.modal-footer').outerHeight() || 0;
        var maxHeight     = contentHeight - (headerHeight + footerHeight);

        this.$content.css({
            'overflow': 'hidden'
        });
        
        this.$element.find('.modal-body').css({
            'max-height': maxHeight,
            'height': maxHeight,
            'overflow-y': 'auto'
        });
    }
    function initCrop(image){
        window.cropper = new Cropper(image, {
            aspectRatio: 1,
            //minContainerHeight:height,
            /*crop: function(event) {
                console.log(event.detail.x);
                console.log(event.detail.y);
                console.log(event.detail.width);
                console.log(event.detail.height);
                console.log(event.detail.rotate);
                console.log(event.detail.scaleX);
                console.log(event.detail.scaleY);
            },*/
            ready: function () {
                // Strict mode: set crop box data first
                cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
            }
        });
    }
    function destroyCrop(){
        cropBoxData = cropper.getCropBoxData();
        canvasData = cropper.getCanvasData();
        cropper.destroy();
    }
    $("#browseImage").click(function(){
        $('#avatar_file').trigger('click');
    })
    $('.modal').on('show.bs.modal', function() {
        $("#profile_picture_image")[0].src=$("#account_avatar")[0].src
        $(this).show();
        setModalMaxHeight(this);
        initCrop(image);
        setTimeout(function(){
            $('#avatar_file').trigger('click');
        },100);
    })
    .on('hidden.bs.modal',function(){
        destroyCrop()
    });
    $("#avatar_file").on('change',function(e){
        var files=e.target.files
        var done = function (url) {
            //input.value = '';
            image.src = url;
            //$alert.hide();
            //$modal.modal('show');
            cropper.destroy();
            initCrop(image);
        };
        var reader;
        var file;
        var url;
        if (files && files.length > 0) {
            file = files[0];
            window.filename=file.name;
            if (URL) {
                done(URL.createObjectURL(file));
            } else if (FileReader) {
                reader = new FileReader();
                reader.onload = function (e) {
                    done(reader.result);
                };
                reader.readAsDataURL(file);
            }
        }else{
            //
        }
    })

    $(window).resize(function() {
        if ($('.modal.in').length != 0) {
            setModalMaxHeight($('.modal.in'));
        }
    });
    
</script>
{% endblock %}