{% extends "layout/master.html" %}
{% block title %}
New Doctor
{% endblock %}

{% block css %}
{% endblock %}

{% block content_header %}
<h2>New Doctor</h2>
<small class="text-muted">Welcome to MyMedicord</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12" id="alert_container">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="app">
                {% raw %}
                <div class="card">
                    <div class="header">
                        <h2>Doctor Profile <small>Please provide the following informations</small> </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group" :class="{'has-error': errors.has('name') }">
                                    <div class="form-line">
                                        <input type="text" v-validate="'required'" name="name" v-model="doctor.name" class="form-control" placeholder="Name">
                                    </div>
                                    <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" v-model="doctor.email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group" :class="{'has-error': errors.has('speciality') }">
                                    <div class="form-line">
                                        <input type="text" v-validate="'required'" name="speciality" v-model="doctor.speciality" class="form-control" placeholder="Speciality">
                                    </div>
                                    <p class="text-danger" v-if="errors.has('speciality')">{{ errors.first('speciality') }}</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" v-model="doctor.phone" class="form-control" placeholder="Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" v-model="doctor.website" class="form-control" placeholder="Website URL">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button type="button" @click="validateBeforeSubmit" class="btn btn-raised g-bg-cyan">Save</button>
                                <button type="reset" class="btn btn-raised">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endraw %}
            </div>
        </div>
{% endblock %}

{% block js %}
<script src="/assets/plugins/autosize/autosize.js"></script> <!-- Autosize Plugin Js --> 
<script src="/assets/plugins/select2/js/select2.min.js"></script> 
<script src="/assets/js/pages/forms/basic-form-elements.js"></script>
<script src="/assets/static/js/vue.min.js"></script>
<script src="/assets/static/js/vee-validate.js"></script>
<script src="/assets/pages/create_doctor.js"></script>
{% endblock %}