{% extends "layout/master.html" %}
{% block title %}
MyMedicord - Your Notifications
{% endblock %}

{% block css %}
{% endblock %}

{% block content_header %}
<h2>Your Notifications</h2>
<small class="text-muted">Welcome to MyMedicord</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Text</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in list %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{item.text}}</td>
                            <td>{{item.created|datetime}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}

{% block js %}
{% endblock %}