{% extends "layout/master.html" %}
{% block title %}
All Patient
{% endblock %}

{% block css %}
{% endblock %}

{% block content_header %}
<h2>All Patients</h2>
<small class="text-muted">Welcome to MyMedicord</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix">
            {% for item in patients %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card all-patients">
                    <div class="body">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 text-center m-b-0">
                                <a href="patients.html#" class="p-profile-pix">
                                    {% if item.info %}
                                        {% if item.relation=="me" %}
                                            {% if user.info.photo %}
                                            <img src="/gallery/{{user.info.photo}}" alt="{{user.name}}" class="img-circle img-responsive">
                                            {% else %}
                                            <img src="/assets/images/patients/random-avatar{% if item.info.gender=='male' %}1{%else%}3{%endif%}.jpg" alt="{{user.name}}" class="img-circle img-responsive">
                                            {% endif %}
                                        {% else %}
                                            {% if item.info.photo %}
                                            <img src="/gallery/{{item.info.photo}}" alt="{{item.name}}" class="img-circle img-responsive">
                                            {% else %}
                                            <img src="/assets/images/patients/random-avatar{% if item.info.gender=='male' %}1{%else%}3{%endif%}.jpg" alt="{{user.name}}" class="img-circle img-responsive">
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                    <img src="/assets/images/patients/random-avatar{% if item.info.gender=='male' %}1{%else%}3{%endif%}.jpg" alt="{{user.name}}" class="img-circle img-responsive">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-8 col-sm-8 m-b-0">
                                <h5 class="m-b-0">{{item.name}} <a href="/patients/edit/{{item._id}}" class="edit pull-right"><i class="zmdi zmdi-edit"></i></a></h5> <small>{{item.relation|capitalize }}</small>
                                <address class="m-t-10 m-b-0">
                                    {{item.info.address}}
                                    {% if item.phone %}
                                    <br><br>
                                    <abbr title="Phone">P:</abbr> {{item.phone}}
                                    {% endif %}
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}

{% block js %}
{% endblock %}