{% extends "layout/master.html" %}
{% block title %}
Reports and Analytics
{% endblock %}

{% block css %}
<link href="/assets/plugins/morrisjs/morris.css" rel="stylesheet" />
<link href="/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
<link href="/assets/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
{% endblock %}

{% block content_header %}
<h2>Reports and Analytics</h2>
<small class="text-muted">Welcome to MyMedicord</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12">
                {{alerts()}}
            </div>
        </div>
    {% raw %}
    <div id="report_app">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="form-group drop-custum">
                                        <select class="form-control show-tick" id="year_select">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group drop-custum">
                                        <select class="form-control show-tick" id="month_select">
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="col-md-6">
                                    <div class="form-group drop-custum">
                                        <select class="form-control show-tick" id="hc_select">
                                            <option value="">-- Select Healthcase --</option>
                                        </select>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Illness Summery(Weekly)</h2>
                    </div>
                    <div class="body">
                        <canvas id="illness_summery"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Symptoms Summary (Weekly)</h2>
                    </div>
                    <div class="body">
                        <canvas id="symptom_summery"></canvas>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Illness Summary (Monthly)</h2>
                    </div>
                    <div class="body">
                        chart
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Symptoms Summary (Monthly)</h2>
                    </div>
                    <div class="body">
                        chart
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Monthly Health Tracking</h2>
                    </div>
                    <div class="body">
                        chart
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Wellness Summary</h2>
                    </div>
                    <div class="body">
                        chart
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    {% endraw %}
{% endblock %}

{% block js %}
<script src="/assets/plugins/chartjs/Chart.bundle.min.js"></script>
<script src="/assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js --> 
<script src="/assets/plugins/select2/js/select2.min.js"></script> 
<script src="/assets/static/js/vue.js"></script>
<script src="/assets/pages/reports.js"></script>
<script>
$(function() {
    /*$.ajax({
        url:'/api/growth_list',
        method: "get",
        dataType: 'json',
        success:function(data){
            new Chart(document.getElementById("illness_summery").getContext("2d"), {
                    type: 'bar',
                    data: {
                        labels: data.map(m=>(new Date(m.date)).toDateString()),//["January", "February", "March", "April", "May", "June", "July"],
                        datasets: [{
                            label: "Weight",
                            data: data.map(m=>m.weight),//[65, 59, 80, 81, 56, 55, 40],
                            borderColor: 'rgba(0, 188, 212, 0.75)',
                            backgroundColor: 'rgba(0, 188, 212, 0.3)',
                            pointBorderColor: 'rgba(0, 188, 212, 0)',
                            pointBackgroundColor: 'rgba(0, 188, 212, 0.9)',
                            pointBorderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: true
                    }
                });
        },
        error:function(err){

        }
    })*/
});

</script>
{% endblock %}