{% extends "layout/master.html" %}
{% block title %}
Track Healthcase
{% endblock %}

{% block css %}
<link href="/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
<link href="/assets/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<style>
    .smile_pic{
        width: 36px;
    }
</style>
{% endblock %}

{% block content_header %}
<h2>Track Healthcase</h2>
<small class="text-muted">Welcome to MyMedicord</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix">
            <div class="card">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group drop-custum">
                                <select class="form-control show-tick" id="hc_select">
                                    {% if healthcase_id != undefined %}
                                        <option value="">-- Select Healthcase --</option>
                                    {% endif %}
                                    {% for item in list %}
                                    <option value="{{item._id}}" {{ selectedIf(item._id,healthcase_id) }}>{{item.name}} - {{ item.illness }} - {{item.startDate | date}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        {% raw %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="trackapp">
                            <div class="preloader" style="left: 50%;margin-left: -25px;" v-if="report.fetching">
                                <div class="spinner-layer pl-red">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-stripped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Overall Health</th>
                                        <th v-for="item in report.symptoms">{{item.symptom}}</th>
                                        <th>Remark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="date_val in report.dates">
                                        <td>{{date_val.date}}</td>
                                        <td>
                                            <img class="smile_pic" :src="'/assets/images/smile/'+date_val.daily_feedback+'.png'" alt="">
                                        </td>
                                        <td v-for="symp in report.symptoms">
                                            <img v-if="date_val.reports[symp.report]!=undefined" class="smile_pic" :src="'/assets/images/smile/'+date_val.reports[symp.report].value+'.png'" :alt="date_val.reports[symp.report].text">
                                        </td>
                                        <td>{{date_val.remark}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="pager">
                                <li><a href="javascript:void(0);" class="waves-effect">Previous</a></li>
                                <li><a href="javascript:void(0);" class="waves-effect">Next</a></li>
                            </ul>
                        </div>
                        {% endraw %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
<script src="/assets/plugins/select2/js/select2.min.js"></script> 
<script src="/assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js --> 
<script src="/assets/static/js/vue.js"></script>
<script src="/assets/pages/track_hc.js"></script>
{% endblock %}
