{% extends "layout/master.html" %}
{% block title %}
Upload Healthcase
{% endblock %}

{% block css %}
<style>
.custom-input-file{     
    margin: 0px auto;
    border: 1px solid #56bcea;
    padding: 3px 3px;
    border-radius: 3px;
    background: #03a9f4;
    color: #fff;
}
.btn-eye{
    margin: 0px;
    width: 40px;
    height: 18px;
    line-height: 0px;
}
</style>
{% endblock %}

{% block content_header %}
<h2>Upload Healthcase</h2>
<small class="text-muted">Welcome to MyMedicord</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2> Import File </h2>
                    </div>
                    <div class="body text-center">
                        <div class="row">
                            <form action="" method="post" enctype="multipart/form-data">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="/assets/HealthCase.xlsx" target="blank" class="btn btn-raised bg-light-blue waves-effect"><i class="material-icons">file_download</i> Download Template</a>
                            </div>
                            <div class="col-lg-12 text-center">
                                <span class="col-pink">Upload Filled-in Template</span>
                            </div>
                            <div class="col-lg-12">
                                <input type="file" required name="file" class="custom-input-file" >
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-raised bg-blue waves-effect"> <i class="material-icons">cloud_upload</i> Upload</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2> HealthCase Detail </h2>
                    </div>
                    <div class="body" style="max-height: 350px; overflow-y: auto;">
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Healthcase Name</th>
                                            <th>Date</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in healthcases %}
                                        <tr>
                                            <td>{{item.name}}</td>
                                            <td>{{item.startDate | date}}</td>
                                            <td>
                                                <a href="/healthcases/view/{{item._id}}" class="btn btn-raised btn-default btn-circle waves-effect waves-circle waves-float btn-eye"> <i class="material-icons">remove_red_eye</i> </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
{% endblock %}