<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/static/img/favicon.ico">
    <title>Express Starter</title>
    <link href="/assets/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/static/css/cover.css" rel="stylesheet">
    <style>
        html,body{
            background: -moz-linear-gradient(bottom, #26558b 0%, #3a8bc2 49%, #3a8bc2 49%, #4bb8f0 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(bottom, #26558b 0%,#3a8bc2 49%,#3a8bc2 49%,#4bb8f0 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to top, #26558b 0%,#3a8bc2 49%,#3a8bc2 49%,#4bb8f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
    </style>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Express Starter</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">404</h1>
            <p class="lead">The page <label class="label label-danger">{{ origin }}</label> does not exist.</p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>