<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>MyMedicord</title>
<!-- Favicon-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- Custom Css -->
<link href="/assets/css/main.css" rel="stylesheet">
<link href="/assets/css/login.css" rel="stylesheet">
<!-- Swift Themes. You can choose a theme from css/themes instead of get all themes -->
<link href="/assets/css/themes/all-themes.css" rel="stylesheet" />
</head>
<body class=" login-page authentication">
<div class="container">
    <div class="card-top"></div>
    <div class="card">        
        <h1 class="title">
            <span>MyMedicord</span>
            Error 500
            <div class="msg">{% if err %} {{err}} {% else %} Looks like something is wrong, please try again later. {%endif%}</div>
        </h1>
        <div class="col-md-12 text-center">
            <div class="input-group"> <span class="input-group-addon"> <i class="zmdi zmdi-search"></i> </span>
                <div class="form-line">
                    <input type="text" class="form-control" name="search" placeholder="Search..." required>
                </div>
            </div>
            <div>
                 <a class="btn btn-raised g-bg-cyan waves-effect" href="/dashboard">GO TO HOMEPAGE</a>
            </div>
        </div>
    </div>    
</div>

<div class="theme-bg"></div>
<!-- Jquery Core Js --> 
<script src="/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 
<script src="/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 

<script src="/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js --> 
</body>
</html>