{% extends "layout/master.html" %}
{% block title %}
MyMedicord - Blank Page
{% endblock %}

{% block css %}
{% endblock %}

{% block content_header %}
<h2>Blank Page</h2>
<small class="text-muted">Welcome to MyMedicord</small>
{% endblock %}

{% block content %}
        <div class="row clearfix">
            <div class="col-md-12">
                {{alerts()}}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                Hello World
            </div>
        </div>
{% endblock %}

{% block js %}
{% endblock %}