<!DOCTYPE html>
{% set flashes = request.flash() %}
{% set session = request.session %}
{% set alert_array=view.alertToArray(flashes)  %}
{% macro alerts() %}
{% for item in alert_array %}
<div class="alert {{item.type}} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{item.message}}
</div>
{% endfor %}
{% endmacro %}
{% macro activeIf(uri,text='active') %}{% if view.isRouteLike(request,uri) %}{{text}} {% endif %}{% endmacro %}
{% macro selectedIf(variable,value,selected='selected') %}{% if variable==value %}{{selected}}{% endif %}{% endmacro %}
{% macro makeOptions(variable,selectedvalue="",selected='selected',disabledvalue="") %}
{% for item in variable %}
<option {% if selectedvalue==item.value %}{{selected}}{% endif %} value="{{item.value}}" {% if item.disabled %}disabled{%endif%}>{{item.text}}</option>
{% endfor %}
{% endmacro %}
{% set types={
    settings_change:"settings",
    register:"home"
} %}
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>MyMedicord - {% block title %}Dashboard{% endblock %}</title>
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon"><!-- Favicon-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<!-- Custom Css -->
<link href="/assets/css/main.css" rel="stylesheet">
<link href="/assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
<!-- override -->
<style>
    button[data-id='global_patient_select']{
        padding:10px;
    }
    .profilebar_image{
        height: 72px !important;
    }
</style>
{% block css %}
{% endblock %}
<link href="/assets/css/style.css" rel="stylesheet">
<!-- Swift Themes. You can choose a theme from css/themes instead of get all themes -->
<link href="/assets/css/themes/all-themes.css" rel="stylesheet" />
</head>

<body class="theme-cyan2">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-cyan">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader --> 
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- #Float icon -->
<ul id="f-menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
  <li class="mfb-component__wrap">
    <a href="#" class="mfb-component__button--main g-bg-cyan">
      <i class="mfb-component__main-icon--resting zmdi zmdi-plus"></i>
      <i class="mfb-component__main-icon--active zmdi zmdi-close"></i>
    </a>
    <ul class="mfb-component__list">
      <li>
        <a href="/healthcases/new" data-mfb-label="Create Healthcase" class="mfb-component__button--child bg-blue">
          <i class="zmdi zmdi-hospital mfb-component__child-icon"></i>
        </a>
      </li>
      <li>
        <a href="/patients/all" data-mfb-label="Patients List" class="mfb-component__button--child bg-orange">
          <i class="zmdi zmdi-account-o mfb-component__child-icon"></i>
        </a>
      </li>

      <li>
        <a href="/reports" data-mfb-label="Reports" class="mfb-component__button--child bg-purple">
          <i class="zmdi zmdi-chart mfb-component__child-icon"></i>
        </a>
      </li>
    </ul>
  </li>
</ul>
<!-- #Float icon -->
<!-- Morphing Search  -->
<div id="morphsearch" class="morphsearch">
    <form class="morphsearch-form" action="/search" method="get">
        <div class="form-group m-0">
            <input {% if q %} value="{{q.q}}" {% else %} value="" {% endif %} name="q" id="q" type="text" placeholder="Search..." class="form-control morphsearch-input" />
            <button class="morphsearch-submit" type="submit">Search</button>
        </div>
    </form>
    <div class="morphsearch-content">
        <!-- <div class="dummy-column">
            <h2>People</h2>
            <a class="dummy-media-object" href="index.html#"> <img class="round" src="/assets/images/random-avatar1.jpg" alt=""/>
            <h3>Sara Soueidan</h3>
            </a> <a class="dummy-media-object" href="index.html#"> <img class="round" src="/assets/images/random-avatar4.jpg" alt=""/>
            <h3>Rachel Smith</h3>
            </a> <a class="dummy-media-object" href="index.html#"> <img class="round" src="/assets/images/random-avatar3.jpg" alt=""/>
            <h3>Peter Finlan</h3>
            </a> <a class="dummy-media-object" href="index.html#"> <img class="round" src="/assets/images/random-avatar6.jpg" alt=""/>
            <h3>Patrick Cox</h3>
            </a> <a class="dummy-media-object" href="index.html#"> <img class="round" src="/assets/images/random-avatar5.jpg" alt=""/>
            <h3>Tim Holman</h3>
            </a>
        </div>
        <div class="dummy-column">
            <h2>Popular</h2>
            <a class="dummy-media-object" href="index.html#"> <img class="round" src="/assets/images/random-avatar1.jpg" alt=""/>
            <h3>Sara Soueidan</h3>
            </a> <a class="dummy-media-object" href="index.html#"> <img class="round" src="/assets/images/random-avatar4.jpg" alt=""/>
            <h3>Rachel Smith</h3>
            </a> <a class="dummy-media-object" href="index.html#"> <img class="round" src="/assets/images/random-avatar3.jpg" alt=""/>
            <h3>Peter Finlan</h3>
            </a> <a class="dummy-media-object" href="index.html#"> <img class="round" src="/assets/images/random-avatar6.jpg" alt=""/>
            <h3>Patrick Cox</h3>
            </a> <a class="dummy-media-object" href="index.html#"> <img class="round" src="/assets/images/random-avatar5.jpg" alt=""/>
            <h3>Tim Holman</h3>
            </a>
        </div>
        <div class="dummy-column">
            <h2>Recent</h2>
            <a class="dummy-media-object" href="index.html#"> <img class="round" src="/assets/images/random-avatar1.jpg" alt=""/>
            <h3>Sara Soueidan</h3>
            </a> <a class="dummy-media-object" href="index.html#"> <img class="round" src="/assets/images/random-avatar4.jpg" alt=""/>
            <h3>Rachel Smith</h3>
            </a> <a class="dummy-media-object" href="index.html#"> <img class="round" src="/assets/images/random-avatar3.jpg" alt=""/>
            <h3>Peter Finlan</h3>
            </a> <a class="dummy-media-object" href="index.html#"> <img class="round" src="/assets/images/random-avatar6.jpg" alt=""/>
            <h3>Patrick Cox</h3>
            </a> <a class="dummy-media-object" href="index.html#"> <img class="round" src="/assets/images/random-avatar5.jpg" alt=""/>
            <h3>Tim Holman</h3>
            </a>
        </div> -->
    </div>
    <!-- /morphsearch-content --> 
    <span class="morphsearch-close"></span>
</div>
<!-- Top Bar -->
<nav class="navbar clearHeader">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="#">MyMedicord</a>
        </div>
        {% include "layout/notificationbar.html" %}
    </div>
</nav>
<!-- #Top Bar -->
{% include "layout/sidebar.html" %}

<section class="content {% block bodyclass %}home{% endblock %}">
    <div class="container-fluid">
        <div class="block-header">
            {% block content_header %}
            <h2>Dashboard</h2>
            <small class="text-muted">Welcome to Swift application</small>
            {% endblock %}
        </div>
        {% block content %}
        Demo content
        {% endblock %}
	</div>
</section>
{% block modals %}
{% endblock %}
<div class="color-bg"></div>
<!-- Jquery Core Js --> 
<script src="/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 
<script src="/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 

<script src="/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>

<script src="/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
{% block searchbar_disable %} 
<script src="/assets/js/morphing.js"></script><!-- Custom Js --> 
{% endblock %}
<script src="/assets/plugins/sweetalert.min.js"></script>
<script>
    $(function(){
        $("#global_patient_select").change(function(){
            $.ajax({
                url: '/api/patients/select/'+$(this).val(),
                method:'get',
                dataType: 'json',
                success: function(data){
                    console.log(data);
                    swal({
                        title: 'Reload required.\nAll unsaved changes will be lost.\nAre you sure?',
                        buttons: true
                    })
                    .then(function(b){
                        if(b)
                            window.location.reload();
                    })
                },
                error: function(err){
                    alert('Error Occured');
                }
            })
        })
        $(".notification-item").click(function(){
            var me=$(this);
            var data=me.data();
            if(!data.read){
                $.getJSON("/api/read_notification/"+data.id,function(){
                    console.log('read');
                });
                $("#notification-count").text(Number($("#notification-count").text())-1);
            }
            swal({
                title: data.text,
                text: "On "+(new Date(data.created)).toDateString()
            })
            .then(function(){
                me.data('read',true);
            })
        })
    })
</script>
{% block js %}
{% endblock %}
</body>
</html>