<div class="menu">
            <ul class="list">
                <li class="header">MAIN NAVIGATION</li>
                <li class="{{ activeIf('/dashboard') }}"><a href="/dashboard"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
                <li class="{{ activeIf('/healthcases/new') }} "><a href="/healthcases/new"><i class="zmdi zmdi-collection-add"></i><span>Create Healthcase</span></a></li>
                <li class="{{ activeIf('/patients','active open') }} "><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-account-o"></i><span>Patients</span> </a>
                    <ul class="ml-menu">
                        <li class="{{ activeIf('/patients/all') }} "><a href="/patients/all">All Patients</a></li>
                        <li class="{{ activeIf('/patients/new') }} "><a href="/patients/new">Add Patient</a></li>                       
                    </ul>
                </li>
                <li class="{{ activeIf('/doctors','active open') }} "><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-account-add"></i><span>Doctors</span> </a>
                    <ul class="ml-menu">
                        <li class="{{ activeIf('/doctors/all') }} "><a href="/doctors/all">All Doctors</a></li>
                        <li class="{{ activeIf('/doctors/new') }} "><a href="/doctors/new">Add Doctor</a></li>                       
                    </ul>
                </li>
                <li class="{{ activeIf('/healthcases/all') }} "><a href="/healthcases/all"><i class="zmdi zmdi-collection-add"></i><span>View Healthcase</span></a></li>
                <li class="{{ activeIf('/healthcases/track') }} "><a href="/healthcases/track"><i class="zmdi zmdi-mood"></i><span>Track Healthcase Progress</span></a></li>
                <li class="{{ activeIf('/healthcases/upload') }} "><a href="/healthcases/upload"><i class="zmdi zmdi-cloud-upload"></i><span>Load Historical Healthcases</span></a></li>
                <li class="{{ activeIf('/evolution') }} "><a href="/evolution"><i class="zmdi zmdi-directions-run"></i><span>Evolution</span></a></li>
                <li class="{{ activeIf('/reports') }} "><a href="/reports"><i class="zmdi zmdi-chart"></i><span>Reports and Analytics</span></a></li>
                <!-- <li class="header">LABELS</li>
                <li> <a href="javascript:void(0);"><i class="zmdi zmdi-chart-donut col-red"></i><span>Important</span> </a> </li>
                <li> <a href="javascript:void(0);"><i class="zmdi zmdi-chart-donut col-amber"></i><span>Warning</span> </a> </li>
                <li> <a href="javascript:void(0);"><i class="zmdi zmdi-chart-donut col-blue"></i><span>Information</span> </a> </li> -->
            </ul>
        </div>