<div class="user-info">
    <div class="admin-image">
        {% if user.info %}
        {% if user.info.photo %}
        <img class="profilebar_image" src="/gallery/{{user.info.photo}}" alt="{{user.name}}">
        {% else %}
        <img class="profilebar_image" src="/assets/images/random-avatar7.jpg" alt="{{user.name}}">
        {% endif %}
        {% else %}
        <img class="profilebar_image" src="/assets/images/random-avatar7.jpg" alt="{{user.name}}">
        {% endif %}
    </div>
    <div class="admin-action-info"> <span>Welcome</span>
        <h3 id="userinfodata" {% if user.info %} data-userlat="{{user.info.lat}}" data-userlng="{{user.info.lng}}" {% endif %}>{{ user.name }}</h3>
        <ul>
            <li><a data-placement="bottom" title="Search in Google Map" href="/search?q="><i class="zmdi zmdi-google-maps"></i></a></li>
            <!-- <li><a data-placement="bottom" title="Go to Profile" href="/profile"><i class="zmdi zmdi-account"></i></a></li> -->
            <li><a href="/account_settings" class="js-right-sidebar-override" data-close="true"><i class="zmdi zmdi-settings"></i></a></li>
            <li><a data-placement="bottom" title="logout" href="/logout" ><i class="zmdi zmdi-power"></i></a></li>
        </ul>
    </div>
    <!-- <div class="quick-stats">
        <h5>Today Report</h5>
        <ul>
            <li><span>16<i>Patient</i></span></li>
            <li><span>20<i>Pending</i></span></li>
            <li><span>04<i>Visit</i></span></li>
        </ul>
    </div> -->
    <div class="">
        <select class="form-control show-tick" name="" id="global_patient_select">
            {% for item in session.patients %}
            <option value="{{item._id}}" {{ selectedIf(item._id,session.patient._id) }} >{{item.name}} - {{item.relation}}</option>
            {% endfor %}
        </select>
    </div>
</div>