<html>
    <head>
        <title>Title</title>
    </head>
    <body>
        <h1>Heading</h1>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Age</td>
                    <td>Address</td>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0;i<10;i++){ %>
                <tr>
                    <td>Name <%= i %></td>
                    <td>Age <%= i %></td>
                    <td>Address <%= i %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <h3>Footer</h3>
    </body>
</html>